<nav
  class="ecommerce-navbar navbar-expand navbar-light bg-body-emphasis justify-content-between"
>
  <div
    class="container-small d-flex flex-between-center"
    data-navbar="data-navbar"
  >
    <div class="dropdown">
      <button
        class="btn text-body ps-0 pe-5 text-nowrap dropdown-toggle dropdown-caret-none"
        data-category-btn="data-category-btn"
        data-bs-toggle="dropdown"
      >
        <svg
          class="svg-inline--fa fa-bars me-2"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="bars"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          data-fa-i2svg=""
        >
          <path
            fill="currentColor"
            d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"
          ></path></svg
        ><!-- <span class="fas fa-bars me-2"></span> Font Awesome fontawesome.com -->Category
      </button>
      <div
        class="dropdown-menu border border-translucent py-0 category-dropdown-menu"
      >
        <div class="card border-0 scrollbar" style="max-height: 657px">
          <div class="card-body p-6 pb-3">
            <div class="row gx-7 gy-5 mb-5">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-pocket text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <path
                      d="M4 3h16a2 2 0 0 1 2 2v6a10 10 0 0 1-10 10A10 10 0 0 1 2 11V5a2 2 0 0 1 2-2z"
                    ></path>
                    <polyline points="8 10 12 14 16 10"></polyline>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Collectibles &amp; Art
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Collectibles</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Antiques</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Sports memorabilia </a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Art</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-home text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <path
                      d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                    ></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Home &amp; Gardan
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Yard, Garden &amp; Outdoor</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Crafts</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Home Improvement</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Pet Supplies</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-globe text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" y1="12" x2="22" y2="12"></line>
                    <path
                      d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                    ></path>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Sporting Goods
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Outdoor Sports</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Team Sports</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Exercise &amp; Fitness</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Golf</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-monitor text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <rect
                      x="2"
                      y="3"
                      width="20"
                      height="14"
                      rx="2"
                      ry="2"
                    ></rect>
                    <line x1="8" y1="21" x2="16" y2="21"></line>
                    <line x1="12" y1="17" x2="12" y2="21"></line>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Electronics
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Computers &amp; Tablets</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Camera &amp; Photo</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >TV, Audio &amp; Surveillance</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Cell Ohone &amp; Accessories</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-truck text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <rect x="1" y="3" width="15" height="13"></rect>
                    <polygon
                      points="16 8 20 8 23 11 23 16 16 16 16 8"
                    ></polygon>
                    <circle cx="5.5" cy="18.5" r="2.5"></circle>
                    <circle cx="18.5" cy="18.5" r="2.5"></circle>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Auto Parts &amp; Accessories
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >GPS &amp; Security Devices</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Rader &amp; Laser Detectors</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Care &amp; Detailing</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Scooter Parts &amp; Accessories</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-codesandbox text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <path
                      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                    ></path>
                    <polyline points="7.5 4.21 12 6.81 16.5 4.21"></polyline>
                    <polyline points="7.5 19.79 7.5 14.6 3 12"></polyline>
                    <polyline points="21 12 16.5 14.6 16.5 19.79"></polyline>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Toys &amp; Hobbies
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Radio Control</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Kids Toys</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Action Figures</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Dolls &amp; Bears</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-watch text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <circle cx="12" cy="12" r="7"></circle>
                    <polyline points="12 9 12 12 13.5 13.5"></polyline>
                    <path
                      d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"
                    ></path>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">Fashion</h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Women</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Men</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Jewelry &amp; Watches</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Shoes</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-music text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <path d="M9 18V5l12-2v13"></path>
                    <circle cx="6" cy="18" r="3"></circle>
                    <circle cx="18" cy="16" r="3"></circle>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Musical Instruments &amp; Gear
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Guitar</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Pro Audio Equipment</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >String</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Stage Lighting &amp; Effects</a
                  >
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-grid text-primary me-2"
                    style="stroke-width: 3"
                  >
                    <rect x="3" y="3" width="7" height="7"></rect>
                    <rect x="14" y="3" width="7" height="7"></rect>
                    <rect x="14" y="14" width="7" height="7"></rect>
                    <rect x="3" y="14" width="7" height="7"></rect>
                  </svg>
                  <h6 class="text-body-highlight mb-0 text-nowrap">
                    Other Categories
                  </h6>
                </div>
                <div class="ms-n2">
                  <a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Video Games &amp; Consoles</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Health &amp; Beauty</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Baby</a
                  ><a
                    class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2"
                    href="#!"
                    >Business &amp; Industrial</a
                  >
                </div>
              </div>
            </div>
            <div class="text-center border-top border-translucent pt-3">
              <a class="fw-bold" href="#!"
                >See all Categories<svg
                  class="svg-inline--fa fa-angle-right ms-1"
                  data-fa-transform="down-1"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="angle-right"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 256 512"
                  data-fa-i2svg=""
                  style="transform-origin: 0.25em 0.5625em"
                >
                  <g transform="translate(128 256)">
                    <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                      <path
                        fill="currentColor"
                        d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
                        transform="translate(-128 -256)"
                      ></path>
                    </g>
                  </g></svg
                ><!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com --></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="navbar-nav justify-content-end align-items-center">
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link ps-0 active" href="homepage.html">Home</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="favourite-stores.html">My Favorites Stores</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="products-filter.html">Products</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="wishlist.html">Wishlist</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="shipping-info.html">Shipping Info</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="../admin/add-product.html">Be a vendor</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item">
        <a class="nav-link" href="order-tracking.html">Track order</a>
      </li>
      <li class="nav-item" data-nav-item="data-nav-item" style="display: none">
        <a class="nav-link pe-0" href="checkout.html">Checkout</a>
      </li>
      <li
        class="nav-item dropdown"
        data-nav-item="data-nav-item"
        data-more-item="data-more-item"
        style="display: block"
      >
        <a
          class="nav-link dropdown-toggle dropdown-caret-none fw-bold pe-0"
          href="javascript: void(0)"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-boundary="window"
          data-bs-reference="parent"
        >
          More<svg
            class="svg-inline--fa fa-angle-down ms-2"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="angle-down"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"
            ></path></svg
          ><!-- <span class="fas fa-angle-down ms-2"></span> Font Awesome fontawesome.com --></a
        >
        <div
          class="dropdown-menu dropdown-menu-end category-list"
          aria-labelledby="navbarDropdown"
          data-category-list="data-category-list"
        >
          <a class="pe-0 dropdown-item" href="checkout.html">Checkout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
