<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
  <!-- scrollbar removed-->
  <div class="navbar-vertical-content">
    <ul class="navbar-nav flex-column" id="navbarVerticalNav">
      <li class="nav-item">
        <!-- parent pages-->
        <div class="nav-item-wrapper">
          <a
            class="nav-link dropdown-indicator label-1"
            href="#nv-home"
            role="button"
            data-bs-toggle="collapse"
            aria-expanded="true"
            aria-controls="nv-home"
          >
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon"
                ><span data-feather="pie-chart"></span></span
              ><span class="nav-link-text">Home</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul
              class="nav collapse parent show"
              data-bs-parent="#navbarVerticalCollapse"
              id="nv-home"
            >
              <li class="collapsed-nav-item-title d-none">Home</li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="../index-2.html"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">E commerce</span>
                  </div> </a
                ><!-- more inner pages-->
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="project-management.html"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">Project management</span>
                  </div> </a
                ><!-- more inner pages-->
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="crm.html"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">CRM</span
                    ><span
                      class="badge ms-2 badge badge-phoenix badge-phoenix-info"
                      >New</span
                    >
                  </div> </a
                ><!-- more inner pages-->
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="../apps/social/feed.html"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">Social feed</span>
                  </div> </a
                ><!-- more inner pages-->
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <!-- label-->
        <p class="navbar-vertical-label">Apps</p>
        <hr class="navbar-vertical-line" />
        <!-- parent pages-->
        <div class="nav-item-wrapper">
          <a
            class="nav-link dropdown-indicator label-1"
            href="#nv-e-commerce"
            role="button"
            data-bs-toggle="collapse"
            aria-expanded="false"
            aria-controls="nv-e-commerce"
          >
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon"
                ><span data-feather="shopping-cart"></span></span
              ><span class="nav-link-text">E commerce</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul
              class="nav collapse parent"
              data-bs-parent="#navbarVerticalCollapse"
              id="nv-e-commerce"
            >
              <li class="collapsed-nav-item-title d-none">E commerce</li>
              <li class="nav-item">
                <a
                  class="nav-link dropdown-indicator"
                  href="#nv-admin"
                  data-bs-toggle="collapse"
                  aria-expanded="true"
                  aria-controls="nv-admin"
                >
                  <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon">
                      <span class="fas fa-caret-right"></span>
                    </div>
                    <span class="nav-link-text">Products</span>
                  </div> </a
                ><!-- more inner pages-->
                <div class="parent-wrapper">
                  <ul
                    class="nav collapse parent show"
                    data-bs-parent="#e-commerce"
                    id="nv-admin"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="/admin/products"
                        data-bs-toggle=""
                        aria-expanded="false"
                      >
                        <div class="d-flex align-items-center">
                          <span class="nav-link-text">Products</span>
                        </div> </a
                      ><!-- more inner pages-->
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="/admin/product_insert"
                        data-bs-toggle=""
                        aria-expanded="false"
                      >
                        <div class="d-flex align-items-center">
                          <span class="nav-link-text">Insert Product</span>
                        </div> </a
                      ><!-- more inner pages-->
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link dropdown-indicator"
                  href="#nv-customer"
                  data-bs-toggle="collapse"
                  aria-expanded="true"
                  aria-controls="nv-customer"
                >
                  <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon">
                      <span class="fas fa-caret-right"></span>
                    </div>
                    <span class="nav-link-text">Categories</span>
                  </div> </a
                ><!-- more inner pages-->
                <div class="parent-wrapper">
                  <ul
                    class="nav collapse parent show"
                    data-bs-parent="#e-commerce"
                    id="nv-customer"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="/admin/categories"
                        data-bs-toggle=""
                        aria-expanded="false"
                      >
                        <div class="d-flex align-items-center">
                          <span class="nav-link-text">Categories</span>
                        </div> </a
                      ><!-- more inner pages-->
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-bs-toggle=""
                        aria-expanded="false"
                      >
                        <div class="d-flex align-items-center">
                          <span class="nav-link-text">Insert Category</span>
                        </div> </a
                      ><!-- more inner pages-->
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- parent pages-->
        <div class="nav-item-wrapper">
          <a
            class="nav-link dropdown-indicator label-1"
            href="#nv-CRM"
            role="button"
            data-bs-toggle="collapse"
            aria-expanded="false"
            aria-controls="nv-CRM"
          >
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon"
                ><span data-feather="phone"></span></span
              ><span class="nav-link-text">CRM</span
              ><span
                class="fa-solid fa-circle text-info ms-1 new-page-indicator"
                style="font-size: 6px"
              ></span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul
              class="nav collapse parent"
              data-bs-parent="#navbarVerticalCollapse"
              id="nv-CRM"
            >
              <li class="collapsed-nav-item-title d-none">CRM</li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="../apps/crm/analytics.html"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">Analytics</span>
                  </div> </a
                ><!-- more inner pages-->
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="../apps/crm/deals.html"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">Deals</span
                    ><span
                      class="badge ms-2 badge badge-phoenix badge-phoenix-info"
                      >New</span
                    >
                  </div> </a
                ><!-- more inner pages-->
              </li>
            </ul>
          </div>
        </div>

        <a
          class="nav-link label-1"
          href="../apps/calendar.html"
          role="button"
          data-bs-toggle=""
          aria-expanded="false"
        >
          <div class="d-flex align-items-center">
            <span class="nav-link-icon"
              ><span data-feather="calendar"></span></span
            ><span class="nav-link-text-wrapper"
              ><span class="nav-link-text">Calendar</span></span
            >
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="navbar-vertical-footer">
  <button
    class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"
  >
    <span class="uil uil-left-arrow-to-left fs-8"></span
    ><span class="uil uil-arrow-from-right fs-8"></span
    ><span class="navbar-vertical-footer-text ms-2">Collapsed View</span>
  </button>
</div>
