
ICHI_API/.vs/ICHI/DesignTimeBuild/.dtbcache.v2
ICHI_API/.vs/ICHI/FileContentIndex/17f6d609-1f85-4539-8065-db7fbab71792.vsidx
ICHI_API/.vs/ICHI/FileContentIndex/574780a3-2326-411e-b7bf-8b4329f09771.vsidx
ICHI_API/.vs/ICHI/FileContentIndex/6320bd6f-7017-4a0d-bf8a-bc57defadbfd.vsidx
ICHI_API/.vs/ICHI/FileContentIndex/6cacafd6-44b5-49c4-88f0-42ee0d3ac66c.vsidx
ICHI_API/.vs/ICHI/FileContentIndex/7a0bf6ac-bbfb-4734-9724-6515a7a2c72d.vsidx
ICHI_API/.vs/ICHI/FileContentIndex/c1acbe39-edeb-4f80-8715-0d52bcca7a20.vsidx
ICHI_API/.vs/ICHI/FileContentIndex/dd93f09e-c6ca-48fd-9638-0209765a79fb.vsidx
ICHI_API/.vs/ICHI/FileContentIndex/fcd4aefc-28c5-4078-b7aa-fec321841070.vsidx
ICHI_API/.vs/ICHI/v17/.futdcache.v2
ICHI_API/.vs/ICHI/v17/.suo
ICHI_API/.vs/ProjectEvaluation/ichi.metadata.v7.bin
ICHI_API/.vs/ProjectEvaluation/ichi.projects.v7.bin
ICHI_API/bin/Debug/net7.0/ICHI_API.deps.json
ICHI_API/bin/Debug/net7.0/ICHI_API.dll
ICHI_API/bin/Debug/net7.0/ICHI_API.exe
ICHI_API/bin/Debug/net7.0/ICHI_API.pdb
ICHI_API/bin/Debug/net7.0/ICHI_CORE.dll
ICHI_API/bin/Debug/net7.0/ICHI_CORE.pdb
ICHI_API/bin/Debug/net7.0/JetBrains.Annotations.dll
ICHI_API/bin/Debug/net7.0/Log/PCS.API_Log_20240222.log
ICHI_API/bin/Debug/net7.0/Log/PCS.API_Log_20240224.log
ICHI_API/bin/Debug/net7.0/Log/PCS.API_Log_20240225.log
ICHI_API/bin/Debug/net7.0/X.PagedList.dll
ICHI_API/obj/Debug/net7.0/apphost.exe
ICHI_API/obj/Debug/net7.0/ICHI_API.AssemblyInfo.cs
ICHI_API/obj/Debug/net7.0/ICHI_API.AssemblyInfoInputs.cache
ICHI_API/obj/Debug/net7.0/ICHI_API.assets.cache
ICHI_API/obj/Debug/net7.0/ICHI_API.csproj.AssemblyReference.cache
ICHI_API/obj/Debug/net7.0/ICHI_API.csproj.CoreCompileInputs.cache
ICHI_API/obj/Debug/net7.0/ICHI_API.csproj.FileListAbsolute.txt
ICHI_API/obj/Debug/net7.0/ICHI_API.dll
ICHI_API/obj/Debug/net7.0/ICHI_API.GeneratedMSBuildEditorConfig.editorconfig
ICHI_API/obj/Debug/net7.0/ICHI_API.genruntimeconfig.cache
ICHI_API/obj/Debug/net7.0/ICHI_API.pdb
ICHI_API/obj/Debug/net7.0/ICHI_API.sourcelink.json
ICHI_API/obj/Debug/net7.0/ref/ICHI_API.dll
ICHI_API/obj/Debug/net7.0/refint/ICHI_API.dll
ICHI_API/obj/ICHI_API.csproj.nuget.dgspec.json
ICHI_API/obj/ICHI_API.csproj.nuget.g.props
ICHI_API/obj/project.assets.json
ICHI_API/obj/project.nuget.cache
ICHI_CORE/bin/Debug/net7.0/ICHI_CORE.dll
ICHI_CORE/bin/Debug/net7.0/ICHI_CORE.pdb
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.AssemblyInfo.cs
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.AssemblyInfoInputs.cache
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.assets.cache
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.csproj.CoreCompileInputs.cache
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.dll
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.GeneratedMSBuildEditorConfig.editorconfig
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.pdb
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.sourcelink.json
ICHI_CORE/obj/Debug/net7.0/ref/ICHI_CORE.dll
ICHI_CORE/obj/Debug/net7.0/refint/ICHI_CORE.dll
ICHI_CORE/obj/ICHI_CORE.csproj.nuget.dgspec.json
ICHI_CORE/obj/ICHI_CORE.csproj.nuget.g.props
ICHI_CORE/obj/project.assets.json
ICHI_CORE/obj/project.nuget.cache
ICHI_CORE/obj
ICHI_CORE/bin
ICHI_API/bin
ICHI_API/obj
ICHI_API/.vs
IchiClient/node_modules
ICHI_API/.vs/ICHI/v17/.futdcache.v2
ICHI_API/.vs/ICHI/v17/.suo
ICHI_API/.vs/ProjectEvaluation/ichi.metadata.v7.bin
ICHI_API/.vs/ProjectEvaluation/ichi.projects.v7.bin
ICHI_CORE/obj/ICHI_CORE.csproj.nuget.g.props
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.AssemblyInfo.cs
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.AssemblyInfoInputs.cache
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.csproj.AssemblyReference.cache
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.dll
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.GeneratedMSBuildEditorConfig.editorconfig
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.pdb
ICHI_TEST/obj/Debug/net7.0/refint/ICHI_TEST.dll
ICHI_API/.vs/ICHI/v17/.futdcache.v2
ICHI_API/.vs/ICHI/v17/.suo
ICHI_API/.vs/ProjectEvaluation/ichi.metadata.v7.bin
ICHI_API/.vs/ProjectEvaluation/ichi.projects.v7.bin
ICHI_API/obj/Debug/net7.0/ICHI_API.assets.cache
ICHI_API/obj/ICHI_API.csproj.nuget.dgspec.json
ICHI_API/obj/ICHI_API.csproj.nuget.g.props
ICHI_API/obj/project.assets.json
ICHI_CORE/obj/Debug/net7.0/ICHI_CORE.assets.cache
ICHI_CORE/obj/ICHI_CORE.csproj.nuget.dgspec.json
ICHI_CORE/obj/ICHI_CORE.csproj.nuget.g.props
ICHI_CORE/obj/project.assets.json
ICHI_TEST/obj
ICHI_TEST/bin
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.AssemblyInfo.cs
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.AssemblyInfoInputs.cache
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.assets.cache
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.csproj.AssemblyReference.cache
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.dll
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.GeneratedMSBuildEditorConfig.editorconfig
ICHI_TEST/obj/Debug/net7.0/ICHI_TEST.pdb
ICHI_TEST/obj/Debug/net7.0/refint/ICHI_TEST.dll
ICHI_TEST/obj/ICHI_TEST.csproj.nuget.dgspec.json
ICHI_TEST/obj/ICHI_TEST.csproj.nuget.g.props
ICHI_TEST/obj/project.assets.json
ICHI_TEST/obj/project.nuget.cache
ICHI_TEST/bin/Debug/net7.0/CoverletSourceRootsMapping
*.txt
