<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
  <!-- scrollbar removed-->
  <div class="navbar-vertical-content">
    <ul class="navbar-nav flex-column" id="navbarVerticalNav">
      <li class="nav-item">
        <!-- parent pages-->
        <div class="nav-item-wrapper">
          <a class="nav-link dropdown-indicator label-1" role="button" data-bs-toggle="collapse" aria-expanded="true"
            aria-controls="nv-home" routerLink="/admin">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                class="nav-link-text">Home</span>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <!-- label-->
        <hr class="navbar-vertical-line" />
        <!-- parent pages-->

        <div class="nav-item-wrapper">
          <a class="nav-link dropdown-indicator label-1" href="#nv-e-commerce-admin" role="button"
            data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-e-commerce-admin">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon">
                <i class="fal fa-users-cog"> </i>
              </span>
              <span class="nav-link-text"> Quản lý hệ thống</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-e-commerce-admin">
              <hr class="navbar-vertical-line" />
              <!-- parent pages-->
              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/employee']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-user-shield"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Nhân viên</span>
                    </span>
                  </div>
                </a>
                <a class="nav-link label-1" routerLink="customer">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-user-crown"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Khách hàng</span>
                    </span>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>
        <!-- danh mục -->
        <div class="nav-item-wrapper">
          <a class="nav-link dropdown-indicator label-1" href="#nv-e-commerce" role="button" data-bs-toggle="collapse"
            aria-expanded="false" aria-controls="nv-e-commerce">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>

              <span class="nav-link-icon">
                <i class="far fa-store"></i>
              </span>
              <span class="nav-link-text">Quản lý danh mục</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-e-commerce">
              <hr class="navbar-vertical-line" />
              <!-- parent pages-->
              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/categories']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-list-alt"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Danh mục</span>
                    </span>
                  </div>
                </a>
                <a class="nav-link label-1" routerLink="products" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-cookie"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Sản phẩm</span>
                    </span>
                  </div>
                </a>
                <a class="nav-link label-1" [routerLink]="['/admin/trademark']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-trademark"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Thương hiệu</span>
                    </span>
                  </div>
                </a>

                <!-- <a
                  class="nav-link label-1"
                  [routerLink]="['/admin/supplier']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                 
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Nhà cung cấp</span>
                    </span>
                  </div>
                </a>

                <a
                  class="nav-link label-1"
                  [routerLink]="['/admin/inventory_receipts']"
                  routerLinkActive="active"
                >
                  <div class="d-flex align-items-center">
                   
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Nhập hàng</span>
                    </span>
                  </div>
                </a> -->
              </div>
              <li class="collapsed-nav-item-title d-none">E commerce</li>
            </ul>
          </div>
        </div>
        <!-- Khuyến mãi -->
        <div class="nav-item-wrapper">
          <a class="nav-link dropdown-indicator label-1" href="#nv-e-commerce-promotion" role="button"
            data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-e-commerce-promotion">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon">
                <i class="far fa-badge-percent"></i>
              </span>
              <span class="nav-link-text">Quản lý khuyến mãi</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-e-commerce-promotion">
              <hr class="navbar-vertical-line" />
              <!-- parent pages-->
              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/promotion']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-ticket-alt"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Khuyến mãi</span>
                    </span>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>

        <div class="nav-item-wrapper">
          <a class="nav-link dropdown-indicator label-1" href="#nv-e-commerce-inventory" role="button"
            data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-e-commerce-inventory">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon">
                <i class="fal fa-truck-container"></i>
              </span>
              <span class="nav-link-text">Quản lý nhập hàng</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-e-commerce-inventory">
              <hr class="navbar-vertical-line" />
              <!-- parent pages-->
              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/supplier']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-truck-loading"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Nhà cung cấp</span>
                    </span>
                  </div>
                </a>
                <a class="nav-link label-1" routerLink="inventory_receipts">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fas fa-file-invoice"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Hóa đơn nhập hàng</span>
                    </span>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>

        <div class="nav-item-wrapper">
          <a class="nav-link dropdown-indicator label-1" href="#nv-e-commerce-product-return" role="button"
            data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-e-commerce-product-return">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon">
                <i class="fal fa-person-booth"></i>
              </span>
              <span class="nav-link-text">Quản lý đổi trả</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-e-commerce-product-return">
              <hr class="navbar-vertical-line" />
              <!-- parent pages-->
              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/list_return']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-receipt"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">danh sách đổi trả</span>
                    </span>
                  </div>
                </a>
              </div>

              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/save_return']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-hand-holding-box"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Tạo đơn đổi trả</span>
                    </span>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>

        <div class="nav-item-wrapper">
          <a class="nav-link dropdown-indicator label-1" href="#nv-e-commerce-order" role="button"
            data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-e-commerce-order">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon">
                <span class="fas fa-caret-right"></span>
              </div>
              <span class="nav-link-icon">
                <i class="fad fa-bags-shopping"></i>
              </span>
              <span class="nav-link-text">Quản lý bán hàng</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-e-commerce-order">
              <hr class="navbar-vertical-line" />
              <!-- parent pages-->
              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/order']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-chart-pie"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Tạo hóa đơn</span>
                    </span>
                  </div>
                </a>
              </div>

              <div class="nav-item-wrapper">
                <a class="nav-link label-1" [routerLink]="['/admin/list_order']" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <i class="fal fa-store"></i></span>
                    <span class="nav-link-text-wrapper">
                      <span class="nav-link-text">Danh sách hóa đơn</span>
                    </span>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>
        <!-- parent pages-->
      </li>
    </ul>
  </div>
</div>
<div class="navbar-vertical-footer">
  <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
    <i class="fal fa-bars"></i>
    <span class="navbar-vertical-footer-text ms-2">Thu nhỏ lại</span>
  </button>
</div>