<app-client-header></app-client-header>
<app-client-menu></app-client-menu>
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pt-5 pb-9">
  <div class="product-filter-container">
    <button
      class="btn btn-sm btn-phoenix-secondary text-body-tertiary mb-5 d-lg-none"
      data-phoenix-toggle="offcanvas"
      data-phoenix-target="#productFilterColumn"
    >
      <span class="fa-solid fa-filter me-2"></span>Filter
    </button>
    <div class="row">
      <div class="col-lg-3 col-xxl-2 ps-2 ps-xxl-3">
        <div
          class="product-filter-offcanvas bg-body scrollbar phoenix-offcanvas phoenix-offcanvas-fixed"
          id="productFilterColumn"
        >
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="mb-0">Filters</h3>
            <button class="btn d-lg-none p-0" data-phoenix-dismiss="offcanvas">
              <span class="uil uil-times fs-8"></span>
            </button>
          </div>
          <a
            class="btn px-0 d-block collapse-indicator"
            data-bs-toggle="collapse"
            href="#collapseAvailability"
            role="button"
            aria-expanded="true"
            aria-controls="collapseAvailability"
          >
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <div class="fs-8 text-body-highlight">Availability</div>
              <span
                class="fa-solid fa-angle-down toggle-icon text-body-quaternary"
              ></span>
            </div>
          </a>
          <div class="collapse show" id="collapseAvailability">
            <div class="mb-2">
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="inStockInput"
                  type="checkbox"
                  name="color"
                  checked
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="inStockInput"
                  >In stock</label
                >
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="preBookInput"
                  type="checkbox"
                  name="color"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="preBookInput"
                  >Pre-book</label
                >
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="outOfStockInput"
                  type="checkbox"
                  name="color"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="outOfStockInput"
                  >Out of stock</label
                >
              </div>
            </div>
          </div>
          <a
            class="btn px-0 d-block collapse-indicator"
            data-bs-toggle="collapse"
            href="#collapseColorFamily"
            role="button"
            aria-expanded="true"
            aria-controls="collapseColorFamily"
          >
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <div class="fs-8 text-body-highlight">Color family</div>
              <span
                class="fa-solid fa-angle-down toggle-icon text-body-quaternary"
              ></span>
            </div>
          </a>
          <div class="collapse show" id="collapseColorFamily">
            <div class="mb-2">
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckBlack"
                  type="checkbox"
                  name="color"
                  checked
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckBlack"
                  >Black</label
                >
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckBlue"
                  type="checkbox"
                  name="color"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckBlue"
                  >Blue</label
                >
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckRed"
                  type="checkbox"
                  name="color"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckRed"
                  >Red</label
                >
              </div>
            </div>
          </div>
          <a
            class="btn px-0 d-block collapse-indicator"
            data-bs-toggle="collapse"
            href="#collapseBrands"
            role="button"
            aria-expanded="true"
            aria-controls="collapseBrands"
          >
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <div class="fs-8 text-body-highlight">Brands</div>
              <span
                class="fa-solid fa-angle-down toggle-icon text-body-quaternary"
              ></span>
            </div>
          </a>
          <div class="collapse show" id="collapseBrands">
            <div class="mb-2">
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckBlackberry"
                  type="checkbox"
                  name="brands"
                  checked
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckBlackberry"
                  >Blackberry
                </label>
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckApple"
                  type="checkbox"
                  name="brands"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckApple"
                  >Apple
                </label>
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckNokia"
                  type="checkbox"
                  name="brands"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckNokia"
                  >Nokia
                </label>
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckSony"
                  type="checkbox"
                  name="brands"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body fw-normal mb-0"
                  for="flexCheckSony"
                  >Sony
                </label>
              </div>
              <div class="form-check mb-0">
                <input
                  class="form-check-input mt-0"
                  id="flexCheckLG"
                  type="checkbox"
                  name="brands"
                /><label
                  class="form-check-label d-block lh-sm fs-8 text-body mb-0 fw-normal"
                  for="flexCheckLG"
                  >LG
                </label>
              </div>
            </div>
          </div>
          <a
            class="btn px-0 d-block collapse-indicator"
            data-bs-toggle="collapse"
            href="#collapsePriceRange"
            role="button"
            aria-expanded="true"
            aria-controls="collapsePriceRange"
          >
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <div class="fs-8 text-body-highlight">Price range</div>
              <span
                class="fa-solid fa-angle-down toggle-icon text-body-quaternary"
              ></span>
            </div>
          </a>
          <div class="collapse show" id="collapsePriceRange">
            <div class="d-flex justify-content-between mb-3">
              <div class="input-group me-2">
                <input
                  class="form-control"
                  type="text"
                  aria-label="First name"
                  placeholder="Min"
                /><input
                  class="form-control"
                  type="text"
                  aria-label="Last name"
                  placeholder="Max"
                />
              </div>
              <button class="btn btn-phoenix-primary px-3" type="button">
                Go
              </button>
            </div>
          </div>
        </div>
        <div
          class="phoenix-offcanvas-backdrop d-lg-none"
          data-phoenix-backdrop
        ></div>
      </div>
      <div class="col-lg-9 col-xxl-10">
        <div class="row gx-3 gy-6 mb-8">
          <div class="col-12 col-sm-6 col-md-4 col-xxl-2">
            <div class="product-card-container h-100">
              <div
                class="position-relative text-decoration-none product-card h-100"
              >
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <div
                      class="border border-1 border-translucent rounded-3 position-relative mb-3"
                    >
                      <button
                        class="btn rounded-circle p-0 d-flex flex-center btn-wish z-2 d-toggle-container btn-outline-primary"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Add to wishlist"
                      >
                        <span class="fas fa-heart d-block-hover"></span
                        ><span class="far fa-heart d-none-hover"></span></button
                      ><img
                        class="img-fluid"
                        src="../../../assets/img/products/6.png"
                        alt=""
                      />
                    </div>
                    <a class="stretched-link" href="product-details.html">
                      <h6 class="mb-2 lh-sm line-clamp-3 product-name">
                        PlayStation 5 DualSense Wireless Controller
                      </h6>
                    </a>
                    <p class="fs-9">
                      <span class="fa fa-star text-warning"></span
                      ><span class="fa fa-star text-warning"></span
                      ><span class="fa fa-star text-warning"></span
                      ><span class="fa fa-star text-warning"></span
                      ><span class="fa fa-star text-warning"></span
                      ><span class="text-body-quaternary fw-semibold ms-1"
                        >(67 people rated)</span
                      >
                    </p>
                  </div>
                  <div>
                    <p class="fs-9 text-body-tertiary mb-2">
                      dbrand skin available
                    </p>
                    <div class="d-flex align-items-center mb-1">
                      <p
                        class="me-2 text-body text-decoration-line-through mb-0"
                      >
                        $125.00
                      </p>
                      <h3 class="text-body-emphasis mb-0">$89.00</h3>
                    </div>
                    <p class="text-body-tertiary fw-semibold fs-9 lh-1 mb-0">
                      2 colors
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
              <li class="page-item">
                <a class="page-link" href="#">
                  <span class="fas fa-chevron-left"> </span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <span class="fas fa-chevron-right"></span
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<app-client-footer></app-client-footer>
