<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
    <li class="breadcrumb-item">Quản lý hệ thống</li>
    <li class="breadcrumb-item active">khách hàng</li>
  </ol>
</nav>
<div class="mb-9">
  <div class="row g-3 mb-4">
    <div class="col-auto">
      <h2 class="mb-0">Danh sách khách hàng</h2>
    </div>
  </div>
  <div id="customer">
    <div class="mb-4">
      <div class="row g-3">
        <div class="col-auto">
          <div class="search-box">
            <form class="position-relative">
              <input
                class="form-control search-input search"
                type="text"
                placeholder="Tìm kiếm khách hàng"
                name="searchTemp"
                (input)="search()"
                [(ngModel)]="searchTemp"
              />
              <span class="fas fa-search search-box-icon"></span>
            </form>
          </div>
        </div>
        <div class="col-auto ms-auto">
          <!-- <button
            class="btn btn-primary"
            data-bs-target="#modalcustomer"
            data-bs-toggle="modal"
            (click)="openModalCreate()"
          >
            <span class="fas fa-plus me-2"></span>Thêm khách hàng
          </button> -->
        </div>
      </div>
    </div>
    <div
      class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1"
    >
      <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table fs--1 mb-0">
          <thead>
            <tr>
              <th
                class="white-space-nowrap fs--1 align-middle ps-0"
                style="max-width: 20px; width: 18px"
              >
                <div class="form-check mb-0 fs-0">
                  <input
                    class="form-check-input"
                    id="checkbox-bulk-products-select"
                    type="checkbox"
                    (input)="toggleSelectAll()"
                  />
                </div>
              </th>
              <th
                class="sort white-space-nowrap align-middle ps-4"
                scope="col"
                style="width: 200px"
                (click)="sortByField('fullName')"
              >
                Tên khách hàng
                <label
                  [class.d-none]="
                    SortBy === 'fullName' &&
                    (sortDir === 'DESC' || sortDir === 'ASC')
                  "
                >
                  <span class="fas fa-sort align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'fullName' || sortDir !== 'ASC'"
                >
                  <span class="fas fa-sort-up align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'fullName' || sortDir !== 'DESC'"
                >
                  <span class="fas fa-sort-down align-middle fs-9"></span>
                </label>
              </th>
              <th
                class="sort align-middle ps-4"
                scope="col"
                style="width: 150px"
                (click)="sortByField('PhoneNumber')"
              >
                Số điện thoại
                <label
                  [class.d-none]="
                    SortBy === 'PhoneNumber' &&
                    (sortDir === 'DESC' || sortDir === 'ASC')
                  "
                >
                  <span class="fas fa-sort align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'PhoneNumber' || sortDir !== 'ASC'"
                >
                  <span class="fas fa-sort-up align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="
                    SortBy !== 'PhoneNumber' || sortDir !== 'DESC'
                  "
                >
                  <span class="fas fa-sort-down align-middle fs-9"></span>
                </label>
              </th>
              <th
                class="sort align-middle ps-4"
                scope="col"
                style="width: 100px"
                (click)="sortByField('Gender')"
              >
                Giới tính
                <label
                  [class.d-none]="
                    SortBy === 'Gender' &&
                    (sortDir === 'DESC' || sortDir === 'ASC')
                  "
                >
                  <span class="fas fa-sort align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'Gender' || sortDir !== 'ASC'"
                >
                  <span class="fas fa-sort-up align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'Gender' || sortDir !== 'DESC'"
                >
                  <span class="fas fa-sort-down align-middle fs-9"></span>
                </label>
              </th>

              <th
                class="sort align-middle ps-4"
                scope="col"
                style="width: 150px"
                (click)="sortByField('email')"
              >
                Email
                <label
                  [class.d-none]="
                    SortBy === 'email' &&
                    (sortDir === 'DESC' || sortDir === 'ASC')
                  "
                >
                  <span class="fas fa-sort align-middle fs-9"></span>
                </label>
                <label [class.d-none]="SortBy !== 'email' || sortDir !== 'ASC'">
                  <span class="fas fa-sort-up align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'email' || sortDir !== 'DESC'"
                >
                  <span class="fas fa-sort-down align-middle fs-9"></span>
                </label>
              </th>
              <th
                class="sort align-middle ps-4"
                scope="col"
                style="
                  width: 100px;
                  max-width: 100px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                "
                (click)="sortByField('IsLocked')"
              >
                Trạng thái
                <label
                  [class.d-none]="
                    SortBy === 'IsLocked' &&
                    (sortDir === 'DESC' || sortDir === 'ASC')
                  "
                >
                  <span class="fas fa-sort align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'IsLocked' || sortDir !== 'ASC'"
                >
                  <span class="fas fa-sort-up align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="SortBy !== 'IsLocked' || sortDir !== 'DESC'"
                >
                  <span class="fas fa-sort-down align-middle fs-9"></span>
                </label>
              </th>
              <th
                class="sort align-middle ps-4"
                scope="col"
                style="width: 150px"
                (click)="sortByField('ModifiedDate')"
              >
                Ngày sửa
                <label
                  [class.d-none]="
                    SortBy === 'ModifiedDate' &&
                    (sortDir === 'DESC' || sortDir === 'ASC')
                  "
                >
                  <span class="fas fa-sort align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="
                    SortBy !== 'ModifiedDate' || sortDir !== 'ASC'
                  "
                >
                  <span class="fas fa-sort-up align-middle fs-9"></span>
                </label>
                <label
                  [class.d-none]="
                    SortBy !== 'ModifiedDate' || sortDir !== 'DESC'
                  "
                >
                  <span class="fas fa-sort-down align-middle fs-9"></span>
                </label>
              </th>
              <th
                class="sort text-end align-middle pe-0 ps-4"
                scope="col"
                style="width: 50px"
              ></th>
            </tr>
          </thead>
          <tbody class="list" id="customer-table-body">
            <tr *ngIf="paginationModel.content.length <= 0">
              <td colspan="7" class="text-center">
                <span class="fs-7">Không có dữ liệu</span>
              </td>
            </tr>
            <tr
              class="hover-actions-trigger btn-reveal-trigger position-static"
              *ngFor="let customer of paginationModel.content"
            >
              <td class="fs--1 align-middle">
                <div class="form-check mb-0 fs-0">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="customer.id"
                    [checked]="selectAll"
                  />
                </div>
              </td>
              <td class="customer align-middle white-space-nowrap">
                <a
                  class="d-flex align-items-center text-body text-hover-1000"
                  href="#!"
                >
                  <div class="avatar avatar-m">
                    <img
                      class="rounded-circle"
                      src="{{ Environment.apiBaseRoot }}{{
                        customer.user.avatar
                      }}"
                      alt=""
                    />
                  </div>

                  <h6 class="mb-0 ms-3 fw-semibold">{{ customer.fullName }}</h6>
                </a>
              </td>
              <td class="align-middle text-600 ps-4">
                {{ customer.phoneNumber }}
              </td>
              <td class="align-middle text-600 ps-4">
                {{ customer.gender }}
              </td>
              <td class="align-middle text-600 ps-4">
                {{ customer.user.email }}
              </td>
              <td class="align-middle ps-4">
                <span
                  class="badge badge-phoenix"
                  [ngClass]="{
                    'fs-10 badge-phoenix-success': !customer.user.isLocked,
                    'fs-10 badge-phoenix-danger': customer.user.isLocked
                  }"
                >
                  {{ customer.user.isLocked ? "Khóa" : "Mở" }}
                </span>
              </td>

              <td class="align-middle white-space-nowrap text-600 ps-3">
                {{ customer.modifiedDate | date : "dd/MM/yyyy" }}
              </td>

              <td class="align-middle white-space-nowrap text-end pe-0">
                <div class="position-relative">
                  <div class="hover-actions">
                    <button
                      class="btn btn-sm btn-phoenix-secondary me-1 fs-10"
                      (click)="openModalUpdate(customer)"
                      data-bs-target="#modalcustomer"
                      data-bs-toggle="modal"
                    >
                      <svg
                        class="svg-inline--fa fa-pen-to-square"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="pen-to-square"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        data-fa-i2svg=""
                      >
                        <path
                          fill="currentColor"
                          d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z"
                        ></path>
                      </svg>
                    </button>
                    <ng-container *ngIf="customer.user.isLocked; else unlocked">
                      <button
                        class="btn btn-sm btn-phoenix-secondary fs-10"
                        (click)="lockAccount(customer.userId, false)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16px"
                          height="16px"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-unlock text-body fs-5"
                        >
                          <rect
                            x="3"
                            y="11"
                            width="18"
                            height="11"
                            rx="2"
                            ry="2"
                          ></rect>
                          <path d="M7 11V7a5 5 0 0 1 9.9-1"></path>
                        </svg>
                        <span
                          class="text-danger"
                          data-feather="unlock"
                          style="height: 70px; width: 70px"
                        ></span>
                      </button>
                    </ng-container>
                    <ng-template #unlocked>
                      <button
                        class="btn btn-sm btn-phoenix-secondary fs-10"
                        (click)="lockAccount(customer.userId, true)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16px"
                          height="16px"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-lock text-body fs-5"
                        >
                          <rect
                            x="3"
                            y="11"
                            width="18"
                            height="11"
                            rx="2"
                            ry="2"
                          ></rect>
                          <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>

                        <span
                          class="text-danger"
                          data-feather="lock"
                          style="height: 70px; width: 70px"
                        ></span>
                      </button>
                    </ng-template>
                  </div>
                </div>
                <div class="btn-reveal-trigger position-static">
                  <button
                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-boundary="window"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-reference="parent"
                  >
                    <span class="fas fa-ellipsis-h fs-10"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="#!">View</a
                    ><a class="dropdown-item" href="#!">Export</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#!">Remove</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row align-items-center py-2 pe-0 fs--1">
        <div class="col-auto d-flex">
          <label>
            <select
              class="form-select form-select-sm form-select-solid"
              name="sizeSelected"
              [(ngModel)]="paginationModel.pageSize"
              (change)="changePageSize(paginationModel.pageSize)"
            >
              <option value="5" [selected]="paginationModel.pageSize == 5">
                5
              </option>
              <option value="10" [selected]="paginationModel.pageSize == 10">
                10
              </option>
              <option value="25" [selected]="paginationModel.pageSize == 25">
                25
              </option>
              <option value="50" [selected]="paginationModel.pageSize == 50">
                50
              </option>
              <option value="100" [selected]="paginationModel.pageSize == 100">
                100
              </option>
            </select>
          </label>
        </div>
        <div class="col-auto d-flex">
          <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900">
            Hiển thị {{ paginationModel.firstElementOnPage }} đến
            {{ paginationModel.lastElementOnPage }}
            <span class="text-body-tertiary"> của </span
            >{{ paginationModel.totalElements }} danh mục
          </p>
        </div>
        <div class="col-auto ms-auto d-flex">
          <button
            type="button"
            class="page-link"
            (click)="changePageNumber(1)"
            [class.disabled]="paginationModel.pageNumber <= 1"
          >
            <span class="fas fa-angle-double-left"></span>
          </button>
          <button
            type="button"
            class="page-link"
            (click)="changePageNumber(paginationModel.pageNumber - 1)"
            [class.disabled]="paginationModel.pageNumber <= 1"
          >
            <span class="fas fa-angle-left"></span>
          </button>
          <ul class="mb-0 pagination">
            <li
              class="page-item"
              *ngFor="
                let i of Utils.getVisiblePages(
                  paginationModel.pageNumber,
                  paginationModel.totalPages,
                  5
                )
              "
              [class.active]="i === paginationModel.pageNumber"
            >
              <button
                type="button"
                class="page-link"
                (click)="changePageNumber(i)"
              >
                {{ i }}
              </button>
            </li>
          </ul>
          <button
            type="button"
            class="page-link"
            (click)="changePageNumber(paginationModel.pageNumber + 1)"
            [class.disabled]="
              paginationModel.pageNumber >= paginationModel.totalPages
            "
          >
            <span class="fas fa-angle-right"></span>
          </button>
          <button
            type="button"
            class="page-link"
            (click)="changePageNumber(paginationModel.totalPages)"
            [class.disabled]="
              paginationModel.pageNumber >= paginationModel.totalPages
            "
          >
            <span class="fas fa-angle-double-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalcustomer" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalcustomerLabel">{{ titleModal }}</h5>
        <button
          class="btn p-1"
          data-bs-dismiss="modal"
          aria-label="Close"
          #btnCloseModal
        >
          <span class="fas fa-times fs-9"></span>
        </button>
      </div>
      <form class="form" [formGroup]="customerForm" (submit)="onSubmit()">
        <div class="modal-body">
          <div class="row px-3" *ngIf="errorMessage != ''">
            <label
              class="col-sm-12 col-form-label fs-9 alert alert-subtle-danger p-2"
              role="alert"
            >
              {{ errorMessage }}
            </label>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="avatar"
              >Ảnh đại diện</label
            >
            <div class="avatar avatar-5xl avatar-bordered me-4 ms-10">
              <img
                class="rounded-circle"
                src="{{ avatarSrc }}"
                alt="Avatar"
                (click)="avatarInput.click()"
                style="cursor: pointer"
              />
              <input
                class="form-control"
                id="avatar"
                type="file"
                accept="image/*"
                style="display: none"
                #avatarInput
                (change)="onFileSelected($event)"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="fullName"
              >Tên khách hàng <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                id="fullname"
                type="text"
                placeholder="Tên khách hàng"
                formControlName="fullName"
              />
              <small
                class="text-danger mt-1"
                *ngIf="customerForm['controls']['fullName'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['fullName'].errors?.['required']"
                >
                  Tên khách hàng là bắt buộc
                </span>
                <span
                  *ngIf="customerForm['controls']['fullName'].errors?.['maxlength']"
                >
                  Tên khách hàng không được vượt quá 40 ký tự
                </span>

                <span
                  *ngIf="customerForm['controls']['fullName'].errors?.['pattern']"
                >
                  Tên khách hàng không hợp lệ
                </span>
              </small>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="phoneNumber"
              >Số điện thoại <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                id="phoneNumber"
                type="tel"
                placeholder="Số điện thoại"
                formControlName="phoneNumber"
                (keypress)="Utils.onKeyPressNumber($event)"
              />
              <small
                class="text-danger mt-1"
                *ngIf="customerForm['controls']['phoneNumber'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['phoneNumber'].errors?.['required']"
                >
                  Số điện thoại không được để trống
                </span>
                <span
                  *ngIf="customerForm['controls']['phoneNumber'].errors?.['maxlength']
                  || customerForm['controls']['phoneNumber'].errors?.['minlength']"
                >
                  Số điện thoại phải đủ 10 số
                </span>
                <span
                  *ngIf="!(customerForm['controls']['phoneNumber'].errors?.['maxlength']
                              || customerForm['controls']['phoneNumber'].errors?.['minlength'])
                              && customerForm['controls']['phoneNumber'].errors?.['pattern']"
                >
                  Số điện thoại không hợp lệ
                </span>
              </small>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="gender"
              >Giới tính <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <select
                class="form-select"
                id="basic-form-gender"
                aria-label="Default select example"
                formControlName="gender"
              >
                <option selected="selected">Chọn giới tính</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
              </select>
              <small
                class="text-danger mt-1"
                *ngIf="customerForm['controls']['gender'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['gender'].errors?.['required']"
                >
                  Giới tính là bắt buộc
                </span>
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="birthday"
              >Ngày sinh <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                id="birthday"
                rows="3"
                placeholder="Ngày sinh"
                formControlName="birthday"
                type="date"
                value="{{ birthday | date : 'yyyy-MM-dd' }}"
              />
              <small
                class="text-danger mt-1"
                *ngIf="customerForm['controls']['birthday'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['birthday'].errors?.['required']"
                >
                  Ngày sinh không được để trống
                </span>
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="email"
              >Email <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                id="email"
                rows="3"
                placeholder="Email"
                formControlName="userId"
              />
              <small
                class="text-danger mt-1"
                *ngIf="customerForm['controls']['userId'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['userId'].errors?.['required']"
                >
                  Email là bắt buộc
                </span>
                <span
                  *ngIf="customerForm['controls']['userId'].errors?.['pattern']"
                >
                  Email không đúng định dạng
                </span>
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="address"
              >Tỉnh/Thành phố <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <ng-select placeholder="Tỉnh/Thành phố" formControlName="city">
                <ng-option *ngFor="let city of Utils.city" [value]="city.id">
                  {{ city.name }}
                </ng-option>
              </ng-select>
              <div
                class="label-error mt-1"
                *ngIf="customerForm['controls']['city'].dirty"
              >
                <div
                  *ngIf="customerForm.get('city')?.hasError('required')"
                  class="text-danger"
                >
                  <small>Trường bắt buộc.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="address"
              >Quận/Huyện <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <ng-select placeholder="Quận/Huyện" formControlName="district">
                <ng-option
                  *ngFor="let district of districts"
                  [value]="district.id"
                >
                  {{ district.name }}
                </ng-option>
              </ng-select>
              <div
                class="label-error mt-1"
                *ngIf="customerForm['controls']['district'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['district'].errors?.['required']"
                >
                  <small class="text-danger">Trường bắt buộc.</small>
                </span>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="address"
              >Phường/Xã/Thị trấn <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <ng-select
                placeholder="Phường/Xã/Thị trấn"
                formControlName="ward"
              >
                <ng-option *ngFor="let ward of wards" [value]="ward.id">
                  {{ ward.name }}
                </ng-option>
              </ng-select>
              <div
                class="label-error mt-1"
                *ngIf="customerForm['controls']['ward'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['ward'].errors?.['required']"
                >
                  <small class="text-danger">Trường bắt buộc.</small>
                </span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="address"
              >Địa chỉ <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                id="address"
                rows="3"
                placeholder="address"
                formControlName="address"
              />
              <small
                class="text-danger mt-1"
                *ngIf="customerForm['controls']['address'].dirty"
              >
                <span
                  *ngIf="customerForm['controls']['address'].errors?.['required']"
                >
                  Địa chỉ là bắt buộc
                </span>
                <span
                  *ngIf="customerForm['controls']['address'].errors?.['maxlength']"
                >
                  Địa chỉ tối đa 100 ký tự
                </span>
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="customerForm.invalid"
          >
            <span [class.d-none]="isDisplayNone">{{ btnSave }}</span>
            <span class="indicator-progress" [class.d-none]="!isDisplayNone">
              Vui lòng chờ...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>

          <button
            class="btn btn-outline-primary"
            type="button"
            data-bs-dismiss="modal"
          >
            Quay lại
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
