<section class="bg-body-highlight dark__bg-gray-1100 py-9">
  <div class="container-small">
    <div class="row justify-content-between gy-4">
      <div class="col-6 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <img
            src="../../../../../assets/img/favicons/favicon-1.ico.ico"
            alt="phoenix"
            width="100"
          />
          <p class="logo-text ms-2">Văn Phòng Phẩm</p>
        </div>
        <p class="text-body-tertiary mb-1 fw-semibold lh-sm fs-9">
          Cảm ơn quý khách đã lựa chọn Ichi cho nhu cầu văn phòng phẩm của mình!
          Chúng tôi cam kết mang đến cho bạn sản phẩm chất lượng cao và dịch vụ
          tận tình. Để được hỗ trợ, vui lòng liên hệ với chúng tôi qua số điện
          thoại . Đừng quên theo dõi
          chúng tôi trên mạng xã hội để cập nhật những chương trình khuyến mãi
          mới nhất. Hy vọng được phục vụ quý khách trong những lần mua sắm tiếp
          theo!
        </p>
      </div>
      <div class="col-6 col-md-auto">
        <h5 class="fw-bolder mb-3">Văn Phòng Phẩm ICHI</h5>
        <div class="d-flex flex-column">
          <a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!"
            >Nghề nghiệp</a
          ><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!"
            >Chương trình liên kết</a
          ><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!"
            >Chính sách bảo mật</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
