USE [ICHIVPP]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[TrxTransactions] DROP CONSTRAINT [FK_TrxTransactions_Users_UserId]
GO
ALTER TABLE [dbo].[TransactionDetails] DROP CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[TransactionDetails] DROP CONSTRAINT [FK_TransactionDetails_Products]
GO
ALTER TABLE [dbo].[PromotionDetails] DROP CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[PromotionDetails] DROP CONSTRAINT [FK_PromotionDetails_Products]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Trademarks_TrademarkId]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductReturns] DROP CONSTRAINT [FK_ProductReturns_Users_UserId]
GO
ALTER TABLE [dbo].[ProductReturnDetails] DROP CONSTRAINT [FK_ProductReturnDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[ProductReturnDetails] DROP CONSTRAINT [FK_ProductReturnDetails_ProductDetails_ProductDetailID]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductDetails] DROP CONSTRAINT [FK_ProductDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[InventoryReceipts] DROP CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID]
GO
ALTER TABLE [dbo].[InventoryReceipts] DROP CONSTRAINT [FK_InventoryReceipts_Employees]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] DROP CONSTRAINT [FK_InventoryReceiptDetails_Products]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] DROP CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_Employees_Users_UserId]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [FK_Customers_Users_UserId]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [FK_Carts_Products_ProductId]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoles]
GO
/****** Object:  Table [dbo].[TrxTransactions]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrxTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[TrxTransactions]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionDetails]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionDetails]
GO
/****** Object:  Table [dbo].[Trademarks]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Trademarks]') AND type in (N'U'))
DROP TABLE [dbo].[Trademarks]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Suppliers]') AND type in (N'U'))
DROP TABLE [dbo].[Suppliers]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Promotions]') AND type in (N'U'))
DROP TABLE [dbo].[Promotions]
GO
/****** Object:  Table [dbo].[PromotionDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PromotionDetails]') AND type in (N'U'))
DROP TABLE [dbo].[PromotionDetails]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductReturns]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductReturns]') AND type in (N'U'))
DROP TABLE [dbo].[ProductReturns]
GO
/****** Object:  Table [dbo].[ProductReturnDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductReturnDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ProductReturnDetails]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImages]') AND type in (N'U'))
DROP TABLE [dbo].[ProductImages]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ProductDetails]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Logs]') AND type in (N'U'))
DROP TABLE [dbo].[Logs]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryReceipts]
GO
/****** Object:  Table [dbo].[InventoryReceiptDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryReceiptDetails]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryReceiptDetails]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers]') AND type in (N'U'))
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carts]') AND type in (N'U'))
DROP TABLE [dbo].[Carts]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/3/2024 10:01:30 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[CategoryLevel] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceiptDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [float] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_InventoryReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[isAvtive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_InventoryReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[log_time] [datetime2](7) NULL,
	[log_status] [tinyint] NULL,
	[pc_name] [nvarchar](50) NULL,
	[pg_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturnDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturnDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrxTransactionID] [int] NOT NULL,
	[ProductDetailID] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductReturnDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturns]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductReturns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Color] [nvarchar](255) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PriorityLevel] [int] NULL,
	[Quantity] [float] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UsedCodesCount] [int] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_PromotionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](255) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Discount] [float] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[TaxCode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[BankAccount] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trademarks]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trademarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkName] [nvarchar](255) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Trademarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrxTransactionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrxTransactions]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrxTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShoppingDate] [datetime2](7) NOT NULL,
	[OrderTotal] [decimal](18, 2) NOT NULL,
	[OrderStatus] [varchar](50) NOT NULL,
	[PaymentStatus] [varchar](50) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[SessionId] [nvarchar](max) NOT NULL,
	[PaymentIntentId] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_TrxTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/3/2024 10:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Email] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedPassAttemptCount] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240317145953_db', N'7.0.15')
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Price], [Quantity], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (7, N'kh01@gmail.com', 9, CAST(90000.00 AS Decimal(18, 2)), 1, CAST(N'2024-04-03T15:28:29.4558361' AS DateTime2), N'Admin', CAST(N'2024-04-03T15:28:29.4558364' AS DateTime2), N'Admin')
INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Price], [Quantity], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (8, N'kh01@gmail.com', 8, CAST(7000.00 AS Decimal(18, 2)), 1, CAST(N'2024-04-03T15:28:32.0563442' AS DateTime2), N'Admin', CAST(N'2024-04-03T15:28:32.0563446' AS DateTime2), N'Admin')
INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Price], [Quantity], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (16, N'tien01nx@gmail.com', 9, CAST(90000.00 AS Decimal(18, 2)), 1, CAST(N'2024-04-03T20:54:52.1502574' AS DateTime2), N'Admin', CAST(N'2024-04-03T20:54:52.1502579' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 0, 1, N'Văn phòng phẩm', 0, CAST(N'2023-11-05T20:54:40.0000000' AS DateTime2), N'admin', CAST(N'2023-11-05T20:54:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, 1, 2, N'Giấy in', 0, CAST(N'2023-11-05T20:55:08.0000000' AS DateTime2), N'admin', CAST(N'2023-11-05T20:55:08.0000000' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 2, 3, N'Giâý A4', 0, CAST(N'2023-11-05T20:55:35.0000000' AS DateTime2), N'admin', CAST(N'2023-11-05T20:55:35.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N's2family2001bn@gmail.com', N'Khách hàng A', N'Nam', CAST(N'2024-03-17T21:59:53.4152845' AS DateTime2), N'0123456789', N'123 Đường ABC, Quận XYZ, Thành phố HCM', 0, 0, CAST(N'2024-03-31T01:35:36.9473180' AS DateTime2), N'Admin', CAST(N'2024-03-31T01:35:36.9473190' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'demo@gmail.com', N'Diuthanh', N'Nữ', CAST(N'2024-03-17T07:59:02.5910000' AS DateTime2), N'0432187321', N'Ngô xá', 0, 0, CAST(N'2024-03-17T23:09:16.0328371' AS DateTime2), N'Admin', CAST(N'2024-03-17T23:09:16.0328376' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'demo111111@gmail.com', N'Font end222', N'Nam', CAST(N'2024-02-26T00:00:00.0000000' AS DateTime2), N'0346780933', N'', 0, 0, CAST(N'2024-03-24T16:36:08.7607940' AS DateTime2), N'Admin', CAST(N'2024-03-24T16:36:08.7607958' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [isActive], [isDeleted], [Avatar], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'demo@gmail.com', N'FullName 30', N'Nam', CAST(N'2024-03-30T23:01:26.8067831' AS DateTime2), N'', N'0987316917', N'Address 30', 0, 0, N'', CAST(N'2024-03-31T01:40:39.1539098' AS DateTime2), N'Admin', CAST(N'2024-03-31T01:40:39.1539104' AS DateTime2), N'Admin')
INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [isActive], [isDeleted], [Avatar], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'demo1111@gmail.com', N'Nguyeenx van aaa', N'Nam', CAST(N'2024-03-03T00:00:00.0000000' AS DateTime2), N'', N'0346790421', N'', 0, 1, N'', CAST(N'2024-03-24T16:34:17.6167127' AS DateTime2), N'Admin', CAST(N'2024-03-25T14:08:30.9800496' AS DateTime2), N'Admin')
INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [isActive], [isDeleted], [Avatar], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'diuthanh1111@gmail.com', N'diuthanh111', N'Nữ', CAST(N'2024-03-28T00:00:00.0000000' AS DateTime2), N'', N'0812059716', N'ha noi11111', 0, 0, N'', CAST(N'2024-03-30T21:05:22.1401611' AS DateTime2), N'Admin', CAST(N'2024-03-30T21:05:22.1401617' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryReceiptDetails] ON 

INSERT [dbo].[InventoryReceiptDetails] ([Id], [InventoryReceiptId], [ProductId], [Price], [Total], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (9, 7, 3, CAST(9000.00 AS Decimal(18, 2)), 200, CAST(N'2024-03-23T12:54:16.4280000' AS DateTime2), N'string', CAST(N'2024-03-23T12:54:16.4280000' AS DateTime2), N'string')
INSERT [dbo].[InventoryReceiptDetails] ([Id], [InventoryReceiptId], [ProductId], [Price], [Total], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (10, 7, 4, CAST(9000.00 AS Decimal(18, 2)), 50, CAST(N'2024-03-23T12:54:16.4280000' AS DateTime2), N'string', CAST(N'2024-03-23T12:54:16.4280000' AS DateTime2), N'string')
INSERT [dbo].[InventoryReceiptDetails] ([Id], [InventoryReceiptId], [ProductId], [Price], [Total], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (12, 8, 3, CAST(9000.00 AS Decimal(18, 2)), 200, CAST(N'2024-03-23T12:54:16.4280000' AS DateTime2), N'string', CAST(N'2024-03-23T12:54:16.4280000' AS DateTime2), N'string')
SET IDENTITY_INSERT [dbo].[InventoryReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryReceipts] ON 

INSERT [dbo].[InventoryReceipts] ([Id], [EmployeeId], [SupplierID], [Notes], [isAvtive], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (6, 1, 2, N'Nhap hang', 0, CAST(N'2024-03-23T20:05:39.7825313' AS DateTime2), N'Admin', CAST(N'2024-03-23T20:05:39.7825318' AS DateTime2), N'Admin')
INSERT [dbo].[InventoryReceipts] ([Id], [EmployeeId], [SupplierID], [Notes], [isAvtive], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (7, 1, 2, N'Nhap hang', 0, CAST(N'2024-03-23T20:08:19.3977584' AS DateTime2), N'Admin', CAST(N'2024-03-23T20:08:19.3977589' AS DateTime2), N'Admin')
INSERT [dbo].[InventoryReceipts] ([Id], [EmployeeId], [SupplierID], [Notes], [isAvtive], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (8, 1, 3, N'Nhap hang', 0, CAST(N'2024-03-23T21:04:22.0865352' AS DateTime2), N'Admin', CAST(N'2024-03-23T21:04:22.0865358' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[InventoryReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName], [ImagePath], [IsDefault], [IsActive], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 3, N'5cb2991cc6a258b7c1cc07105bccaa29.jpg', N'\images\products\product-3\04be0986-90ea-41b4-ac17-153d52f3fe74.jpg', 0, 1, 0, CAST(N'2024-03-17T21:59:53.4153208' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153209' AS DateTime2), N'Admin')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName], [ImagePath], [IsDefault], [IsActive], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, 4, N'3f23c30055381c7e58af80a62ce28fa5.jpg', N'\images\products\product-4\0016eca6-2e6e-44d2-874f-b2deefb97893.jpg', 0, 1, 0, CAST(N'2024-03-17T21:59:53.4153212' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153212' AS DateTime2), N'Admin')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName], [ImagePath], [IsDefault], [IsActive], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (5, 4, N'Screenshot_3.png', N'\images\products\product-5\ff69973a-bad5-4757-be92-6792b6d4ff9e.png', 0, 1, 0, CAST(N'2024-03-17T21:59:53.4153216' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153217' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionDetails] ON 

INSERT [dbo].[PromotionDetails] ([Id], [PromotionID], [ProductId], [Quantity], [UsedCodesCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (70, 147, 15, 4, 11, CAST(N'2024-04-01T21:49:35.6565594' AS DateTime2), N'Admin', CAST(N'2024-04-01T21:49:35.6565598' AS DateTime2), N'Admin')
INSERT [dbo].[PromotionDetails] ([Id], [PromotionID], [ProductId], [Quantity], [UsedCodesCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (72, 147, 13, 4, 0, CAST(N'2024-04-01T21:50:36.1050317' AS DateTime2), N'Admin', CAST(N'2024-04-01T21:50:36.1050317' AS DateTime2), N'Admin')
INSERT [dbo].[PromotionDetails] ([Id], [PromotionID], [ProductId], [Quantity], [UsedCodesCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (74, 147, 9, 4, 0, CAST(N'2024-04-01T21:51:20.7429039' AS DateTime2), N'Admin', CAST(N'2024-04-01T21:51:20.7429039' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[PromotionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [PromotionName], [StartTime], [EndTime], [Discount], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (147, N'Khuyến mãi', CAST(N'2024-04-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-04-10T00:00:00.0000000' AS DateTime2), 40, 1, 0, CAST(N'2024-04-03T21:40:08.3906667' AS DateTime2), N'Admin', CAST(N'2024-04-03T21:40:08.3906667' AS DateTime2), N'Admin')
INSERT [dbo].[Promotions] ([Id], [PromotionName], [StartTime], [EndTime], [Discount], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (152, N'Khuyến mãi e226', CAST(N'2024-04-02T00:00:00.0000000' AS DateTime2), CAST(N'2024-04-09T00:00:00.0000000' AS DateTime2), 33, 1, 0, CAST(N'2024-04-01T21:52:42.0705828' AS DateTime2), N'Admin', CAST(N'2024-04-01T21:52:42.0705829' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'ADMIN', N'Quản trị viên', CAST(N'2024-03-17T21:59:53.4152437' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'EMPLOYEE', N'Nhân viên', CAST(N'2024-03-17T21:59:53.4152444' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'USER', N'Người dùng', CAST(N'2024-03-17T21:59:53.4152447' AS DateTime2), N'Admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Nhà cung cấp A', N'TAX001', N'123 Đường ABC, Quận XYZ, Thành phố HCM', N'0123456789', N'info@supplierA.com', N'0123456789', N'Ngân hàng ABC, Chi nhánh XYZ', N'Thông tin chi tiết về nhà cung cấp A', 1, 0, CAST(N'2024-03-17T21:59:53.4153004' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Nhà cung cấp B', N'TAX002', N'456 Đường XYZ, Quận ABC, Thành phố HCM', N'0987654321', N'info2@supplier.com', N'9876543210', N'Ngân hàng XYZ, Chi nhánh ABC', N'Thông tin chi tiết về nhà cung cấp B', 1, 0, CAST(N'2024-03-17T21:59:53.4153009' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Nhà cung cấp C', N'TAX003', N'789 Đường LMN, Quận PQR, Thành phố HCM', N'0369852147', N'info3@gmail.com', N'7412589630', N'Ngân hàng LMN, Chi nhánh PQR', N'Thông tin chi tiết về nhà cung cấp C', 1, 0, CAST(N'2024-03-17T21:59:53.4153013' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153010' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Trademarks] ON 

INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Thương hiệu A', CAST(N'2024-03-17T21:59:53.4153045' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Thương hiệu B', CAST(N'2024-03-17T21:59:53.4153048' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Thương hiệu C', CAST(N'2024-03-17T21:59:53.4153050' AS DateTime2), N'Admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Trademarks] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionDetails] ON 

INSERT [dbo].[TransactionDetails] ([Id], [TrxTransactionId], [ProductId], [Price], [Total], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (145, 52, 3, CAST(45000.00 AS Decimal(18, 2)), 2, CAST(N'2024-03-20T10:55:24.0058737' AS DateTime2), N'Admin', CAST(N'2024-03-20T10:55:24.0058743' AS DateTime2), N'Admin')
INSERT [dbo].[TransactionDetails] ([Id], [TrxTransactionId], [ProductId], [Price], [Total], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (146, 52, 4, CAST(60000.00 AS Decimal(18, 2)), 1, CAST(N'2024-03-20T10:55:24.0318231' AS DateTime2), N'Admin', CAST(N'2024-03-20T10:55:24.0318238' AS DateTime2), N'Admin')
INSERT [dbo].[TransactionDetails] ([Id], [TrxTransactionId], [ProductId], [Price], [Total], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (147, 52, 2, CAST(50000.00 AS Decimal(18, 2)), 10, CAST(N'2024-03-20T10:55:24.0331678' AS DateTime2), N'Admin', CAST(N'2024-03-20T10:55:24.0331684' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[TransactionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[TrxTransactions] ON 

SET IDENTITY_INSERT [dbo].[TrxTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (1, 1, N'tien01nx@gmail.com')
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (2, 2, N'diuthanh88@gmail.com')
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (3, 3, N's2family2001bn@gmail.com')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
INSERT [dbo].[Users] ([Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (N'demo@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$K8I8eQYUWZnYXk52E92OhOX.Y11MOmQ.y0iOOhyhtikoaAXoAPpVK', 0, 2, CAST(N'2024-03-17T23:09:13.8144666' AS DateTime2), N'demo@gmail.com', CAST(N'2024-03-31T01:20:45.2173193' AS DateTime2), N'Admin')
INSERT [dbo].[Users] ([Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (N'demo1111@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$KIzUjjH9OJ2.vzCMYxS8DeFREDnX3rfdWBMvkxthkVz2hnvyLI73e', 0, 0, CAST(N'2024-03-24T16:34:07.1841835' AS DateTime2), N'demo1111@gmail.com', CAST(N'2024-03-24T16:34:07.1841841' AS DateTime2), N'demo1111@gmail.com')
INSERT [dbo].[Users] ([Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (N'demo111111@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$ckp3RDhBNXMv4LOI/S1NGOfVULFEAulJ4QR9WV1gMBGWwxZ5128SK', 0, 0, CAST(N'2024-03-24T16:36:05.3034356' AS DateTime2), N'demo111111@gmail.com', CAST(N'2024-03-24T16:36:05.3034370' AS DateTime2), N'demo111111@gmail.com')
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users_UserId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users_UserId]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID] FOREIGN KEY([InventoryReceiptId])
REFERENCES [dbo].[InventoryReceipts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_Products]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Employees]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturnDetails_ProductDetails_ProductDetailID] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturnDetails] CHECK CONSTRAINT [FK_ProductReturnDetails_ProductDetails_ProductDetailID]
GO
ALTER TABLE [dbo].[ProductReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturnDetails_TrxTransactions_TrxTransactionID] FOREIGN KEY([TrxTransactionID])
REFERENCES [dbo].[TrxTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturnDetails] CHECK CONSTRAINT [FK_ProductReturnDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[ProductReturns]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturns_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturns] CHECK CONSTRAINT [FK_ProductReturns_Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Trademarks_TrademarkId] FOREIGN KEY([TrademarkId])
REFERENCES [dbo].[Trademarks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Trademarks_TrademarkId]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Products]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_TransactionDetails_Products]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID] FOREIGN KEY([TrxTransactionId])
REFERENCES [dbo].[TrxTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[TrxTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TrxTransactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrxTransactions] CHECK CONSTRAINT [FK_TrxTransactions_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
