USE [ICHIVPP]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductDetailId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[CategoryLevel] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Gender] [nvarchar](3) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[Address] [nvarchar](255) NULL,
	[Avatar] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceiptDetails]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryReceiptID] [int] NOT NULL,
	[ProductDetailID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_InventoryReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[isAvtive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_InventoryReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[log_time] [datetime2](7) NULL,
	[log_status] [tinyint] NULL,
	[pc_name] [nvarchar](50) NULL,
	[pg_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductDetailId] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturnDetails]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturnDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrxTransactionID] [int] NOT NULL,
	[ProductDetailID] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductReturnDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturns]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductReturns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[PriorityLevel] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionDetails]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PromotionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](255) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Quantity] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[TaxCode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[BankAccount] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trademarks]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trademarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkName] [nvarchar](255) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Trademarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrxTransactionID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrxTransactions]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrxTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShoppingDate] [datetime2](7) NOT NULL,
	[OrderTotal] [decimal](18, 2) NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[SessionId] [nvarchar](max) NOT NULL,
	[PaymentIntentID] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TrxTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/5/2024 12:18:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedPassAttemptCount] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240304090750_db', N'7.0.15')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [Avatar], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 4, N'Nguyen Tien', N'Nam', CAST(N'2001-08-09T00:00:00.0000000' AS DateTime2), N'', N'0987654321', N'', N'', 1, 0, CAST(N'2024-03-05T00:06:28.6345092' AS DateTime2), N'Admin', CAST(N'2024-03-05T00:06:28.6345100' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [Avatar], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, 5, N'Congatien', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', N'Congatien', N'', N'', 1, 0, CAST(N'2024-03-04T21:24:47.1405608' AS DateTime2), N'Admin', CAST(N'2024-03-04T21:24:47.1405624' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [Avatar], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 6, N'Font end111', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', N'0812059722', N'', N'', 1, 0, CAST(N'2024-03-04T22:27:21.2794925' AS DateTime2), N'Admin', CAST(N'2024-03-04T22:27:21.2794938' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'ADMIN', N'', CAST(N'2024-03-04T20:02:17.2798267' AS DateTime2), N'ADMIN', CAST(N'2024-03-04T20:02:17.2856912' AS DateTime2), N'ADMIN')
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'USER', N'', CAST(N'2024-03-04T20:02:17.2919130' AS DateTime2), N'ADMIN', CAST(N'2024-03-04T20:02:17.2979183' AS DateTime2), N'ADMIN')
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'EMPLOYEE', N'', CAST(N'2024-03-04T20:02:17.3040762' AS DateTime2), N'ADMIN', CAST(N'2024-03-04T20:02:17.3094977' AS DateTime2), N'ADMIN')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Supplier 1', N'1234567890', N'Address 1', N'123456789', N'supplier1@example.com', N'123456789', N'Bank 1', N'Notes 1', 1, 0, CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin', CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Supplier 2', N'2345678901', N'Address 2', N'234567890', N'supplier2@example.com', N'234567890', N'Bank 2', N'Notes 2', 1, 1, CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin', CAST(N'2024-03-04T23:13:54.5661899' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Supplier 3', N'3456789012', N'Address 3', N'345678901', N'supplier3@example.com', N'345678901', N'Bank 3', N'Notes 3', 1, 0, CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin', CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (2, 2, 2)
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (6, 2, 4)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'ADMIN', N'$2a$11$7OkaATkYCVCxVtmSsybkv.ZATT2aYqScbxQ5ZyQIMaldYmgPM4cPy', 0, 0, CAST(N'2024-03-04T20:02:18.7871566' AS DateTime2), N'ADMIN', CAST(N'2024-03-04T20:02:18.7931392' AS DateTime2), N'ADMIN')
INSERT [dbo].[Users] ([Id], [UserName], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'tien01nx', N'$2a$11$wGRAg0yiJnIW5m/7mzt6NOd/38nsOveMoKST3g9Ob/hQq2seoXbcy', 0, 0, CAST(N'2024-03-04T20:02:42.9033774' AS DateTime2), N'tien01nx', CAST(N'2024-03-04T20:02:42.9033785' AS DateTime2), N'tien01nx')
INSERT [dbo].[Users] ([Id], [UserName], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, N'tien111', N'$2a$11$TiJCLR8z1GL.5OfTEOLw6OOzkDJ8LB/cvogfWUJbc.TmnEOXHNsTa', 0, 0, CAST(N'2024-03-04T21:19:34.7889225' AS DateTime2), N'tien111', CAST(N'2024-03-04T21:19:34.7889243' AS DateTime2), N'tien111')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_ProductDetails_ProductDetailId] FOREIGN KEY([ProductDetailId])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_ProductDetails_ProductDetailId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users_UserID] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users_UserID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users_UserID]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID] FOREIGN KEY([InventoryReceiptID])
REFERENCES [dbo].[InventoryReceipts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_ProductDetails_ProductDetailID] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_ProductDetails_ProductDetailID]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_ProductDetails_ProductDetailId] FOREIGN KEY([ProductDetailId])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_ProductDetails_ProductDetailId]
GO
ALTER TABLE [dbo].[ProductReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturnDetails_ProductDetails_ProductDetailID] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturnDetails] CHECK CONSTRAINT [FK_ProductReturnDetails_ProductDetails_ProductDetailID]
GO
ALTER TABLE [dbo].[ProductReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturnDetails_TrxTransactions_TrxTransactionID] FOREIGN KEY([TrxTransactionID])
REFERENCES [dbo].[TrxTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturnDetails] CHECK CONSTRAINT [FK_ProductReturnDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[ProductReturns]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturns_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturns] CHECK CONSTRAINT [FK_ProductReturns_Users_UserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Trademarks_TrademarkID] FOREIGN KEY([TrademarkID])
REFERENCES [dbo].[Trademarks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Trademarks_TrademarkID]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Products_ProductID]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID] FOREIGN KEY([TrxTransactionID])
REFERENCES [dbo].[TrxTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[TrxTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TrxTransactions_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrxTransactions] CHECK CONSTRAINT [FK_TrxTransactions_Users_UserID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
