USE [ICHIVPP]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ModifiedDate'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'CreateBy'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'FailedPassAttemptCount'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IsLocked'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Avatar'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Email'
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[TrxTransactions] DROP CONSTRAINT [FK_TrxTransactions_Employees]
GO
ALTER TABLE [dbo].[TrxTransactions] DROP CONSTRAINT [FK_TrxTransactions_Customers]
GO
ALTER TABLE [dbo].[TransactionDetails] DROP CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[TransactionDetails] DROP CONSTRAINT [FK_TransactionDetails_Products]
GO
ALTER TABLE [dbo].[PromotionDetails] DROP CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[PromotionDetails] DROP CONSTRAINT [FK_PromotionDetails_Products]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Trademarks_TrademarkId]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductReturns] DROP CONSTRAINT [FK_ProductReturns_TrxTransactions]
GO
ALTER TABLE [dbo].[ProductReturns] DROP CONSTRAINT [FK_ProductReturns_Employees]
GO
ALTER TABLE [dbo].[ProductReturnDetails] DROP CONSTRAINT [FK_ProductReturnDetails_ProductReturns]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductDetails] DROP CONSTRAINT [FK_ProductDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[InventoryReceipts] DROP CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID]
GO
ALTER TABLE [dbo].[InventoryReceipts] DROP CONSTRAINT [FK_InventoryReceipts_Employees]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] DROP CONSTRAINT [FK_InventoryReceiptDetails_Products]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] DROP CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_Employees_Users_UserId]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [FK_Carts_Products_ProductId]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoles]
GO
/****** Object:  Table [dbo].[TrxTransactions]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrxTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[TrxTransactions]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionDetails]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionDetails]
GO
/****** Object:  Table [dbo].[Trademarks]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Trademarks]') AND type in (N'U'))
DROP TABLE [dbo].[Trademarks]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Suppliers]') AND type in (N'U'))
DROP TABLE [dbo].[Suppliers]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Promotions]') AND type in (N'U'))
DROP TABLE [dbo].[Promotions]
GO
/****** Object:  Table [dbo].[PromotionDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PromotionDetails]') AND type in (N'U'))
DROP TABLE [dbo].[PromotionDetails]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductReturns]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductReturns]') AND type in (N'U'))
DROP TABLE [dbo].[ProductReturns]
GO
/****** Object:  Table [dbo].[ProductReturnDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductReturnDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ProductReturnDetails]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImages]') AND type in (N'U'))
DROP TABLE [dbo].[ProductImages]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ProductDetails]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Logs]') AND type in (N'U'))
DROP TABLE [dbo].[Logs]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryReceipts]
GO
/****** Object:  Table [dbo].[InventoryReceiptDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryReceiptDetails]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryReceiptDetails]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers]') AND type in (N'U'))
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carts]') AND type in (N'U'))
DROP TABLE [dbo].[Carts]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/4/2024 4:35:12 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](40) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[CategoryLevel] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](40) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](3) NULL,
	[Birthday] [datetime2](7) NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[Address] [nvarchar](255) NULL,
	[Ward] [varchar](15) NULL,
	[District] [varchar](15) NULL,
	[City] [varchar](15) NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](40) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceiptDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[BatchNumber] [float] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_InventoryReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[isActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_InventoryReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[log_time] [datetime2](7) NULL,
	[log_status] [tinyint] NULL,
	[pc_name] [nvarchar](50) NULL,
	[pg_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturnDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturnDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductReturnId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[Reason] [nvarchar](200) NULL,
	[ReturnType] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductReturnDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturns]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[TrxTransactionId] [int] NULL,
	[Status] [varchar](50) NULL,
	[Reason] [nvarchar](200) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProductReturns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PriorityLevel] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UsedCodesCount] [int] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_PromotionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](255) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Discount] [float] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[TaxCode] [varchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Email] [nvarchar](40) NOT NULL,
	[BankAccount] [varchar](50) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trademarks]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trademarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkName] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Trademarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrxTransactionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[Quantity] [int] NOT NULL,
	[BatchNumber] [float] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrxTransactions]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrxTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[OnholDate] [datetime2](7) NULL,
	[WaitingForPickupDate] [datetime2](7) NULL,
	[WaitingForDeliveryDate] [datetime2](7) NULL,
	[DeliveredDate] [datetime2](7) NULL,
	[CancelledDate] [datetime2](7) NULL,
	[PriceShip] [decimal](18, 2) NULL,
	[OrderTotal] [decimal](18, 2) NOT NULL,
	[OrderStatus] [varchar](50) NOT NULL,
	[PaymentTypes] [varchar](50) NOT NULL,
	[PaymentStatus] [varchar](50) NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[SessionId] [nvarchar](max) NULL,
	[PaymentIntentId] [nvarchar](max) NULL,
	[FullName] [nvarchar](255) NULL,
	[PhoneNumber] [varchar](12) NULL,
	[Address] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_TrxTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/4/2024 4:35:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Email] [nvarchar](40) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedPassAttemptCount] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240317145953_db', N'7.0.15')
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Price], [Quantity], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (16, N'tien01nx@gmail.com', 9, CAST(90000.00 AS Decimal(18, 2)), 1, CAST(N'2024-04-03T20:54:52.1502574' AS DateTime2), N'Admin', CAST(N'2024-04-03T20:54:52.1502579' AS DateTime2), N'Admin')
INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Price], [Quantity], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (17, N'tien01nx@gmail.com', 10, CAST(8000.00 AS Decimal(18, 2)), 1, CAST(N'2024-04-03T20:54:55.9779437' AS DateTime2), N'Admin', CAST(N'2024-04-03T20:54:55.9779445' AS DateTime2), N'Admin')
INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Price], [Quantity], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (18, N'tien01nx@gmail.com', 2, CAST(50000.00 AS Decimal(18, 2)), 1, CAST(N'2024-04-06T20:10:40.1278534' AS DateTime2), N'Admin', CAST(N'2024-04-06T20:10:40.1278541' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 0, 1, N'Văn phòng phẩm', 0, CAST(N'2023-11-05T20:54:40.0000000' AS DateTime2), N'admin', CAST(N'2023-11-05T20:54:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, 1, 2, N'Giấy in', 0, CAST(N'2024-04-09T00:20:50.6680983' AS DateTime2), N'Admin', CAST(N'2024-04-09T00:20:50.6680989' AS DateTime2), N'Admin')
INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 2, 3, N'Giấy A4', 0, CAST(N'2024-04-09T00:23:24.0691801' AS DateTime2), N'Admin', CAST(N'2024-04-09T00:23:24.0691806' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [Ward], [District], [City], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N's2family2001bn@gmail.com', N'Khách hàng A', N'Nam', CAST(N'2024-03-17T21:59:53.4152845' AS DateTime2), N'0939848348', N'96 Định Công', N'20', N'100300', N'100000', 0, 0, CAST(N'2024-04-17T16:11:24.2212935' AS DateTime2), N'Admin', CAST(N'2024-04-17T16:11:24.2212939' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [Ward], [District], [City], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'demo@gmail.com', N'Diuthanh', N'Nữ', CAST(N'2024-03-17T07:59:02.5910000' AS DateTime2), N'0432187321', N'96 Định Công', N'1520', N'220200', N'220000', 0, 0, CAST(N'2024-03-17T23:09:16.0328371' AS DateTime2), N'Admin', CAST(N'2024-03-17T23:09:16.0328376' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [Ward], [District], [City], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'demo111111@gmail.com', N'Font end222', N'Nam', CAST(N'2024-02-26T00:00:00.0000000' AS DateTime2), N'0346780933', N'96 Định Công', N'1520', N'220200', N'220000', 0, 0, CAST(N'2024-03-24T16:36:08.7607940' AS DateTime2), N'Admin', CAST(N'2024-03-24T16:36:08.7607958' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'demo@gmail.com', N'FullName 30', N'Nam', CAST(N'2024-03-30T23:01:26.8067831' AS DateTime2), N'0987316917', N'Address 30', 0, 0, CAST(N'2024-03-31T01:40:39.1539098' AS DateTime2), N'Admin', CAST(N'2024-03-31T01:40:39.1539104' AS DateTime2), N'Admin')
INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'demo1111@gmail.com', N'Nguyeenx van aaa', N'Nam', CAST(N'2024-03-03T00:00:00.0000000' AS DateTime2), N'0346790421', N'', 0, 1, CAST(N'2024-03-24T16:34:17.6167127' AS DateTime2), N'Admin', CAST(N'2024-03-25T14:08:30.9800496' AS DateTime2), N'Admin')
INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [PhoneNumber], [Address], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'diuthanh1111@gmail.com', N'diuthanh111', N'Nữ', CAST(N'2024-03-28T00:00:00.0000000' AS DateTime2), N'0812059716', N'ha noi11111', 0, 0, CAST(N'2024-03-30T21:05:22.1401611' AS DateTime2), N'Admin', CAST(N'2024-03-30T21:05:22.1401617' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryReceiptDetails] ON 

INSERT [dbo].[InventoryReceiptDetails] ([Id], [InventoryReceiptId], [ProductId], [Price], [Quantity], [BatchNumber], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 3, 2, CAST(6000.00 AS Decimal(18, 2)), 100, 1.01, CAST(N'2024-05-02T23:47:25.7505052' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:47:25.7505059' AS DateTime2), N'Admin')
INSERT [dbo].[InventoryReceiptDetails] ([Id], [InventoryReceiptId], [ProductId], [Price], [Quantity], [BatchNumber], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, 4, 4, CAST(9000.00 AS Decimal(18, 2)), 100, 1.01, CAST(N'2024-05-02T23:47:17.6124328' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:47:17.6124338' AS DateTime2), N'Admin')
INSERT [dbo].[InventoryReceiptDetails] ([Id], [InventoryReceiptId], [ProductId], [Price], [Quantity], [BatchNumber], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (5, 4, 8, CAST(3000.00 AS Decimal(18, 2)), 100, 1.01, CAST(N'2024-05-02T23:47:17.6124579' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:47:17.6124580' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[InventoryReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryReceipts] ON 

INSERT [dbo].[InventoryReceipts] ([Id], [EmployeeId], [SupplierID], [Notes], [isActive], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 23, 6, N'', 1, CAST(N'2024-05-02T23:46:48.6573638' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:46:48.6573645' AS DateTime2), N'Admin')
INSERT [dbo].[InventoryReceipts] ([Id], [EmployeeId], [SupplierID], [Notes], [isActive], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, 23, 3, N'<p>dfdf</p>', 1, CAST(N'2024-05-02T23:47:15.8301895' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:47:15.8301898' AS DateTime2), N'Admin')
INSERT [dbo].[InventoryReceipts] ([Id], [EmployeeId], [SupplierID], [Notes], [isActive], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (5, 23, 3, N'<p>Hehehe</p>', 1, CAST(N'2024-05-03T20:06:27.6237179' AS DateTime2), N'Admin', CAST(N'2024-05-03T20:06:27.6237180' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[InventoryReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName], [ImagePath], [IsDefault], [IsActive], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 3, N'5cb2991cc6a258b7c1cc07105bccaa29.jpg', N'\images\products\product-3\04be0986-90ea-41b4-ac17-153d52f3fe74.jpg', 0, 1, 0, CAST(N'2024-03-17T21:59:53.4153208' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153209' AS DateTime2), N'Admin')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName], [ImagePath], [IsDefault], [IsActive], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, 4, N'3f23c30055381c7e58af80a62ce28fa5.jpg', N'\images\products\product-4\0016eca6-2e6e-44d2-874f-b2deefb97893.jpg', 0, 1, 0, CAST(N'2024-03-17T21:59:53.4153212' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153212' AS DateTime2), N'Admin')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName], [ImagePath], [IsDefault], [IsActive], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (5, 4, N'Screenshot_3.png', N'\images\products\product-5\ff69973a-bad5-4757-be92-6792b6d4ff9e.png', 0, 1, 0, CAST(N'2024-03-17T21:59:53.4153216' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153217' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReturnDetails] ON 

INSERT [dbo].[ProductReturnDetails] ([Id], [ProductReturnId], [ProductId], [Quantity], [Price], [Reason], [ReturnType], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 29, 2, 1, CAST(40000.00 AS Decimal(18, 2)), N'4545', 1, CAST(N'2024-05-02T23:56:43.3599428' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:56:43.3599436' AS DateTime2), N'Admin')
INSERT [dbo].[ProductReturnDetails] ([Id], [ProductReturnId], [ProductId], [Quantity], [Price], [Reason], [ReturnType], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, 30, 2, 1, CAST(40000.00 AS Decimal(18, 2)), N'y8778786', 0, CAST(N'2024-05-03T00:04:01.5451882' AS DateTime2), N'Admin', CAST(N'2024-05-03T00:04:01.5451888' AS DateTime2), N'Admin')
INSERT [dbo].[ProductReturnDetails] ([Id], [ProductReturnId], [ProductId], [Quantity], [Price], [Reason], [ReturnType], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (5, 30, 8, 1, CAST(7000.00 AS Decimal(18, 2)), N'hhjghjg', 0, CAST(N'2024-05-03T00:04:01.5498208' AS DateTime2), N'Admin', CAST(N'2024-05-03T00:04:01.5498215' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[ProductReturnDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReturns] ON 

INSERT [dbo].[ProductReturns] ([Id], [EmployeeId], [TrxTransactionId], [Status], [Reason], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (29, 23, 1357, N'APPROVED', NULL, CAST(N'2024-05-02T23:56:43.1685865' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:56:43.1685874' AS DateTime2), N'Admin')
INSERT [dbo].[ProductReturns] ([Id], [EmployeeId], [TrxTransactionId], [Status], [Reason], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (30, 23, 1345, N'APPROVED', NULL, CAST(N'2024-05-03T00:04:01.3536964' AS DateTime2), N'Admin', CAST(N'2024-05-03T00:04:01.3536970' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[ProductReturns] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [TrademarkId], [CategoryId], [Color], [ProductName], [Description], [Price], [PriorityLevel], [Quantity], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, 15, 1, N'Trắng', N'Bản Đồ', N'<p>bacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbacbac</p>', CAST(40000.00 AS Decimal(18, 2)), 0, 92, N'', 1, 0, CAST(N'2024-05-04T00:21:26.7304222' AS DateTime2), N'Admin', CAST(N'2024-05-04T00:21:26.7304248' AS DateTime2), N'Admin')
INSERT [dbo].[Products] ([Id], [TrademarkId], [CategoryId], [Color], [ProductName], [Description], [Price], [PriorityLevel], [Quantity], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 15, 3, N'Trắng', N'Vị Thần Của Những Quyết Định', N'bac', CAST(45000.00 AS Decimal(18, 2)), 0, 0, N'', 1, 1, CAST(N'2024-03-17T21:59:53.4153103' AS DateTime2), N'Admin', CAST(N'2024-04-09T10:20:37.8853543' AS DateTime2), N'Admin')
INSERT [dbo].[Products] ([Id], [TrademarkId], [CategoryId], [Color], [ProductName], [Description], [Price], [PriorityLevel], [Quantity], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, 17, 4, N'Trắng', N'Sách Hiểu Về Trái Tim(Tái Bản 2019) -Minh Niệm', N'bac', CAST(60000.00 AS Decimal(18, 2)), 0, 96, N'', 1, 0, CAST(N'2024-03-17T21:59:53.4153107' AS DateTime2), N'Admin', CAST(N'2024-03-17T21:59:53.4153105' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionDetails] ON 

INSERT [dbo].[PromotionDetails] ([Id], [PromotionID], [ProductId], [Quantity], [UsedCodesCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (86, 158, 9, 50, 0, CAST(N'2024-05-04T00:57:36.1939599' AS DateTime2), N'Admin', CAST(N'2024-05-04T00:57:36.1939605' AS DateTime2), N'Admin')
INSERT [dbo].[PromotionDetails] ([Id], [PromotionID], [ProductId], [Quantity], [UsedCodesCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (87, 158, 4, 50, 2, CAST(N'2024-05-04T00:57:36.1939784' AS DateTime2), N'Admin', CAST(N'2024-05-04T00:57:36.1939785' AS DateTime2), N'Admin')
INSERT [dbo].[PromotionDetails] ([Id], [PromotionID], [ProductId], [Quantity], [UsedCodesCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (88, 158, 14, 50, 0, CAST(N'2024-05-04T00:57:36.1939799' AS DateTime2), N'Admin', CAST(N'2024-05-04T00:57:36.1939799' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[PromotionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [PromotionName], [StartTime], [EndTime], [Discount], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (158, N'Khuyến mãi', CAST(N'2024-05-04T00:00:00.0000000' AS DateTime2), CAST(N'2024-05-08T00:00:00.0000000' AS DateTime2), 20, 1, 0, CAST(N'2024-05-04T00:59:42.5455602' AS DateTime2), N'Admin', CAST(N'2024-05-04T00:59:42.5455602' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'ADMIN', N'Quản trị viên', CAST(N'2024-03-17T21:59:53.4152437' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'EMPLOYEE', N'Nhân viên', CAST(N'2024-03-17T21:59:53.4152444' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'USER', N'Người dùng', CAST(N'2024-03-17T21:59:53.4152447' AS DateTime2), N'Admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Vân Giang', N'4353535434', N'123 Đường ABC, Quận XYZ, Thành phố HCM', N'0123456789', N'info@supplierA.com', N'0123456789', N'VPBANK', N'', 0, 0, CAST(N'2024-05-04T04:23:15.6681894' AS DateTime2), N'Admin', CAST(N'2024-05-04T04:23:15.6681901' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'VPP Vinacom', N'4535343223', N'456 Đường XYZ, Quận ABC, Thành phố HCM', N'0987654321', N'info2@supplier.com', N'9876543210', N'VPBANK', N'', 0, 0, CAST(N'2024-05-04T04:22:47.5700373' AS DateTime2), N'Admin', CAST(N'2024-05-04T04:22:47.5700384' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Ánh Sáng', N'5345354353', N'789 Đường LMN, Quận PQR, Thành phố HCM', N'0369852147', N'info3@gmail.com', N'7412589630', N'MBBank', N'', 0, 0, CAST(N'2024-05-04T04:22:31.4853150' AS DateTime2), N'Admin', CAST(N'2024-05-04T04:22:31.4853155' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Trademarks] ON 

INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (15, N'PaperOne', CAST(N'2023-04-19T00:00:00.0000000' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (17, N'Double A', CAST(N'2024-02-02T00:00:00.0000000' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (20, N'Ik Plus', CAST(N'2024-02-02T00:00:00.0000000' AS DateTime2), N'Admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Trademarks] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionDetails] ON 

INSERT [dbo].[TransactionDetails] ([Id], [TrxTransactionId], [ProductId], [Price], [SalePrice], [Quantity], [BatchNumber], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1428, 1345, 2, CAST(40000.00 AS Decimal(18, 2)), CAST(17600.00 AS Decimal(18, 2)), 2, 1.01, CAST(N'2024-05-02T23:47:48.7810981' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:47:48.7810993' AS DateTime2), N'Admin')
INSERT [dbo].[TransactionDetails] ([Id], [TrxTransactionId], [ProductId], [Price], [SalePrice], [Quantity], [BatchNumber], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1429, 1345, 4, CAST(60000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 2, 1.01, CAST(N'2024-05-02T23:47:58.7978723' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:47:58.7978732' AS DateTime2), N'Admin')
INSERT [dbo].[TransactionDetails] ([Id], [TrxTransactionId], [ProductId], [Price], [SalePrice], [Quantity], [BatchNumber], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1430, 1345, 8, CAST(7000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, 1.01, CAST(N'2024-05-02T23:48:03.3185118' AS DateTime2), N'Admin', CAST(N'2024-05-02T23:48:03.3185124' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[TransactionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[TrxTransactions] ON 

SET IDENTITY_INSERT [dbo].[TrxTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (1, 1, N'tien01nx@gmail.com')
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (2, 2, N'diuthanh88@gmail.com')
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (3, 3, N's2family2001bn@gmail.com')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
INSERT [dbo].[Users] ([Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (N'1aad11emo@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$33CiHUBAe8Kea8zPk58/Bug2O8wQswG3Qyh1tXPkJO9qJsNHtUEKG', 0, 0, CAST(N'2024-04-12T11:01:46.6880701' AS DateTime2), N'1aad11emo@gmail.com', CAST(N'2024-04-12T11:01:46.6880707' AS DateTime2), N'1aad11emo@gmail.com')
INSERT [dbo].[Users] ([Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (N'd111emo@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$9rlUEWh9Aae3w9RQUiWe0OF8frh.DUYPhsVFhvcQ6fP4uEw54PRKy', 0, 0, CAST(N'2024-04-12T10:53:19.4937765' AS DateTime2), N'd111emo@gmail.com', CAST(N'2024-04-12T10:53:19.4937782' AS DateTime2), N'd111emo@gmail.com')
INSERT [dbo].[Users] ([Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (N'd6661132321@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$w.i0dT8ASAW17dlUp472eO7jm7GH6QwQFVQDOnRGtPFY2Li/cDN12', 0, 0, CAST(N'2024-04-20T23:20:49.3092143' AS DateTime2), N'Admin', CAST(N'2024-04-20T23:20:49.3092162' AS DateTime2), N'Admin')
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users_UserId]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID] FOREIGN KEY([InventoryReceiptId])
REFERENCES [dbo].[InventoryReceipts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_Products]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Employees]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturnDetails_ProductReturns] FOREIGN KEY([ProductReturnId])
REFERENCES [dbo].[ProductReturns] ([Id])
GO
ALTER TABLE [dbo].[ProductReturnDetails] CHECK CONSTRAINT [FK_ProductReturnDetails_ProductReturns]
GO
ALTER TABLE [dbo].[ProductReturns]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturns_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[ProductReturns] CHECK CONSTRAINT [FK_ProductReturns_Employees]
GO
ALTER TABLE [dbo].[ProductReturns]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturns_TrxTransactions] FOREIGN KEY([TrxTransactionId])
REFERENCES [dbo].[TrxTransactions] ([Id])
GO
ALTER TABLE [dbo].[ProductReturns] CHECK CONSTRAINT [FK_ProductReturns_TrxTransactions]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Trademarks_TrademarkId] FOREIGN KEY([TrademarkId])
REFERENCES [dbo].[Trademarks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Trademarks_TrademarkId]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Products]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_TransactionDetails_Products]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID] FOREIGN KEY([TrxTransactionId])
REFERENCES [dbo].[TrxTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[TrxTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TrxTransactions_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[TrxTransactions] CHECK CONSTRAINT [FK_TrxTransactions_Customers]
GO
ALTER TABLE [dbo].[TrxTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TrxTransactions_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[TrxTransactions] CHECK CONSTRAINT [FK_TrxTransactions_Employees]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email người dùng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ảnh đại diện' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Avatar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mật khẩu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái khóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IsLocked'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lần đăng nhập sai' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'FailedPassAttemptCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'CreateBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày cập nhật' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ModifiedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người sửa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
