USE [ICHIVPP]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductDetailId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[CategoryLevel] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Gender] [nvarchar](3) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[Address] [nvarchar](255) NULL,
	[Avatar] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceiptDetails]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryReceiptID] [int] NOT NULL,
	[ProductDetailID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_InventoryReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[isAvtive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_InventoryReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[log_time] [datetime2](7) NULL,
	[log_status] [tinyint] NULL,
	[pc_name] [nvarchar](50) NULL,
	[pg_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductDetailId] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturnDetails]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturnDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrxTransactionID] [int] NOT NULL,
	[ProductDetailID] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductReturnDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReturns]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReturns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductReturns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[PriorityLevel] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionDetails]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PromotionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionCode] [varchar](50) NOT NULL,
	[PromotionName] [nvarchar](255) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Quantity] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[TaxCode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[BankAccount] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trademarks]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trademarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrademarkName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Trademarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrxTransactionID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrxTransactions]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrxTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShoppingDate] [datetime2](7) NOT NULL,
	[OrderTotal] [decimal](18, 2) NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[SessionId] [nvarchar](max) NOT NULL,
	[PaymentIntentID] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TrxTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/11/2024 7:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NULL,
	[Avatar] [varchar](max) NULL,
	[Password] [varchar](100) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedPassAttemptCount] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240304090750_db', N'7.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240306174256_db4', N'7.0.15')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 0, 1, N'Danh mục 2', N'Ghi chú cho danh mục 1', 0, CAST(N'2024-03-11T00:12:09.1200231' AS DateTime2), N'Admin', CAST(N'2024-03-11T00:12:09.1200238' AS DateTime2), N'Admin')
INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, 1, 2, N'Danh mục con 1 của Danh mục 1', N'Ghi chú cho danh mục con 1 của Danh mục 1', 0, CAST(N'2024-03-11T00:09:45.2000000' AS DateTime2), N'Admin', CAST(N'2024-03-11T00:09:45.2000000' AS DateTime2), N'Admin')
INSERT [dbo].[Categories] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 0, 1, N'Danh mục 2', N'Ghi chú cho danh mục 2', 0, CAST(N'2024-03-11T00:09:45.2000000' AS DateTime2), N'Admin', CAST(N'2024-03-11T00:09:45.2000000' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [Avatar], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 4, N'Nguyen Tien', N'Nam', CAST(N'2001-08-09T00:00:00.0000000' AS DateTime2), N'', N'0987654321', N'Bắc Ninh', N'', 0, 0, CAST(N'2024-03-10T09:29:59.0262538' AS DateTime2), N'Admin', CAST(N'2024-03-10T09:29:59.0262543' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [Avatar], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, 5, N'Congatien', N'Nữ', CAST(N'2001-01-24T00:00:00.0000000' AS DateTime2), N'', N'0987654321', N'Bắc Ninh', N'', 1, 0, CAST(N'2024-03-06T22:04:26.8664938' AS DateTime2), N'Admin', CAST(N'2024-03-09T21:38:26.0985595' AS DateTime2), N'Admin')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [Avatar], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 6, N'Font end111', N'Nam', CAST(N'2001-08-09T00:00:00.0000000' AS DateTime2), N'', N'0812059722', N'Bắc Ninh', N'', 1, 0, CAST(N'2024-03-06T22:05:27.4968919' AS DateTime2), N'Admin', CAST(N'2024-03-06T22:13:03.2943408' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [isActive], [isDeleted], [Avatar], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, 10, N'Nguyễn Văn Tiến', N'Nam', CAST(N'2001-09-08T00:00:00.0000000' AS DateTime2), N'string', N'034679011', N'Bắc Ninh', 0, 1, N'string', CAST(N'2024-03-06T16:47:38.1050000' AS DateTime2), N'Admin', CAST(N'2024-03-09T21:52:32.9746155' AS DateTime2), N'Admin')
INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [isActive], [isDeleted], [Avatar], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, 16, N'tien nguyen nguyen', N'Nam', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', N'0812059716', N'ha noi', 0, 0, N'', CAST(N'2024-03-10T23:14:41.0588583' AS DateTime2), N'Admin', CAST(N'2024-03-10T23:14:41.0588590' AS DateTime2), N'Admin')
INSERT [dbo].[Employees] ([Id], [UserId], [FullName], [Gender], [Birthday], [Email], [PhoneNumber], [Address], [isActive], [isDeleted], [Avatar], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, 17, N'tien nguyen', N'Nam', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', N'0987654321', N'ha noi, ha noi', 0, 0, N'', CAST(N'2024-03-10T09:43:14.2273836' AS DateTime2), N'Admin', CAST(N'2024-03-10T09:43:14.2273842' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'ADMIN', N'', CAST(N'2024-03-04T20:02:17.2798267' AS DateTime2), N'ADMIN', CAST(N'2024-03-04T20:02:17.2856912' AS DateTime2), N'ADMIN')
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'USER', N'', CAST(N'2024-03-04T20:02:17.2919130' AS DateTime2), N'ADMIN', CAST(N'2024-03-04T20:02:17.2979183' AS DateTime2), N'ADMIN')
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'EMPLOYEE', N'', CAST(N'2024-03-04T20:02:17.3040762' AS DateTime2), N'ADMIN', CAST(N'2024-03-04T20:02:17.3094977' AS DateTime2), N'ADMIN')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Supplier 1', N'34242343434', N'Address 12222', N'0987333332', N'supplier1@example.com', N'123456789', N'Bank 1', N'', 0, 0, CAST(N'2024-03-09T17:12:44.6976692' AS DateTime2), N'Admin', CAST(N'2024-03-09T17:12:44.6976698' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Supplier 2', N'2345678901', N'Address 2', N'234567890', N'supplier2@example.com', N'234567890', N'Bank 2', N'Notes 2', 1, 1, CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin', CAST(N'2024-03-09T15:32:32.8275286' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [SupplierName], [TaxCode], [Address], [PhoneNumber], [Email], [BankAccount], [BankName], [Notes], [isActive], [isDeleted], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Supplier 3', N'3456789012', N'Address 3', N'345678901', N'supplier3@example.com', N'345678901', N'Bank 3', N'Notes 3', 1, 0, CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin', CAST(N'2024-03-04T22:40:22.9700000' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Trademarks] ON 

INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Apple', NULL, CAST(N'2024-03-10T23:48:21.3492947' AS DateTime2), N'Admin', CAST(N'2024-03-10T23:48:21.3492952' AS DateTime2), N'Admin')
INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'Samsung', NULL, CAST(N'2024-03-10T21:23:28.7866667' AS DateTime2), N'Admin', CAST(N'2024-03-10T21:23:28.7866667' AS DateTime2), N'Admin')
INSERT [dbo].[Trademarks] ([Id], [TrademarkName], [Description], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Microsoft', NULL, CAST(N'2024-03-10T21:23:28.7966667' AS DateTime2), N'Admin', CAST(N'2024-03-10T21:23:28.7966667' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Trademarks] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (2, 2, 2)
INSERT [dbo].[UserRoles] ([Id], [RoleId], [UserId]) VALUES (6, 2, 4)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'diuthanh88@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$7OkaATkYCVCxVtmSsybkv.ZATT2aYqScbxQ5ZyQIMaldYmgPM4cPy', 1, 0, CAST(N'2024-03-04T20:02:18.7871566' AS DateTime2), N'ADMIN', CAST(N'2024-03-10T12:51:38.6304055' AS DateTime2), N'Admin')
INSERT [dbo].[Users] ([Id], [Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'tien01nx@gmail.com', N'/images/avatar/avatar_default.jpg', N'$2a$11$6j53MbiaN/wkubYaO1l0aO6pWWrYyk.2mbKmPZFvuPT6irrLbq37W', 1, 0, CAST(N'2024-03-04T20:02:42.9033774' AS DateTime2), N'tien01nx', CAST(N'2024-03-10T12:52:06.2029596' AS DateTime2), N'Admin')
INSERT [dbo].[Users] ([Id], [Email], [Avatar], [Password], [IsLocked], [FailedPassAttemptCount], [CreateDate], [CreateBy], [ModifiedDate], [ModifiedBy]) VALUES (4, N'diuthanh88@gmail.com', N'\images\user\user-4\63529c2d-8554-4e54-83c3-27642e4fab52.png', N'$2a$11$TiJCLR8z1GL.5OfTEOLw6OOzkDJ8LB/cvogfWUJbc.TmnEOXHNsTa', 1, 0, CAST(N'2024-03-04T21:19:34.7889225' AS DateTime2), N'tien111', CAST(N'2024-03-10T12:52:02.0530227' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_ProductDetails_ProductDetailId] FOREIGN KEY([ProductDetailId])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_ProductDetails_ProductDetailId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users_UserID] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users_UserID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users_UserID] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users_UserID]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID] FOREIGN KEY([InventoryReceiptID])
REFERENCES [dbo].[InventoryReceipts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptID]
GO
ALTER TABLE [dbo].[InventoryReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetails_ProductDetails_ProductDetailID] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceiptDetails] CHECK CONSTRAINT [FK_InventoryReceiptDetails_ProductDetails_ProductDetailID]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Suppliers_SupplierID]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_ProductDetails_ProductDetailId] FOREIGN KEY([ProductDetailId])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_ProductDetails_ProductDetailId]
GO
ALTER TABLE [dbo].[ProductReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturnDetails_ProductDetails_ProductDetailID] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturnDetails] CHECK CONSTRAINT [FK_ProductReturnDetails_ProductDetails_ProductDetailID]
GO
ALTER TABLE [dbo].[ProductReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturnDetails_TrxTransactions_TrxTransactionID] FOREIGN KEY([TrxTransactionID])
REFERENCES [dbo].[TrxTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturnDetails] CHECK CONSTRAINT [FK_ProductReturnDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[ProductReturns]  WITH CHECK ADD  CONSTRAINT [FK_ProductReturns_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReturns] CHECK CONSTRAINT [FK_ProductReturns_Users_UserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Trademarks_TrademarkID] FOREIGN KEY([TrademarkID])
REFERENCES [dbo].[Trademarks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Trademarks_TrademarkID]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Products_ProductID]
GO
ALTER TABLE [dbo].[PromotionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionDetails] CHECK CONSTRAINT [FK_PromotionDetails_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID] FOREIGN KEY([TrxTransactionID])
REFERENCES [dbo].[TrxTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_TransactionDetails_TrxTransactions_TrxTransactionID]
GO
ALTER TABLE [dbo].[TrxTransactions]  WITH CHECK ADD  CONSTRAINT [FK_TrxTransactions_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrxTransactions] CHECK CONSTRAINT [FK_TrxTransactions_Users_UserID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
