USE [ICHI]
GO
ALTER TABLE [dbo].[user_role] DROP CONSTRAINT [FK_user_role_user_user_id]
GO
ALTER TABLE [dbo].[user_role] DROP CONSTRAINT [FK_user_role_role_role_id]
GO
ALTER TABLE [dbo].[product_images] DROP CONSTRAINT [FK_product_images_product_ProductId]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_role]') AND type in (N'U'))
DROP TABLE [dbo].[user_role]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND type in (N'U'))
DROP TABLE [dbo].[user]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Suppliers]') AND type in (N'U'))
DROP TABLE [dbo].[Suppliers]
GO
/****** Object:  Table [dbo].[role]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role]') AND type in (N'U'))
DROP TABLE [dbo].[role]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product_images]') AND type in (N'U'))
DROP TABLE [dbo].[product_images]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
DROP TABLE [dbo].[product]
GO
/****** Object:  Table [dbo].[OrderHeaders]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderHeaders]') AND type in (N'U'))
DROP TABLE [dbo].[OrderHeaders]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_details]') AND type in (N'U'))
DROP TABLE [dbo].[order_details]
GO
/****** Object:  Table [dbo].[log]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[log]') AND type in (N'U'))
DROP TABLE [dbo].[log]
GO
/****** Object:  Table [dbo].[category_product]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[category_product]') AND type in (N'U'))
DROP TABLE [dbo].[category_product]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/28/2024 8:32:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_product]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[CategoryLevel] [int] NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_category_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[log_time] [datetime2](7) NULL,
	[log_status] [tinyint] NULL,
	[pc_name] [nvarchar](50) NULL,
	[pg_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderHeaderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [real] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_order_details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeaders]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeaders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShoopingDate] [datetime2](7) NOT NULL,
	[OrderTotal] [real] NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[TrackingNumber] [nvarchar](max) NOT NULL,
	[Carrier] [nvarchar](max) NOT NULL,
	[PaymentData] [datetime2](7) NOT NULL,
	[PaymentDuaDate] [datetime2](7) NOT NULL,
	[SessionId] [nvarchar](max) NOT NULL,
	[PaymentIntentId] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[StreetAddress] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[PostalCode] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_OrderHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[CategoryProductID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_product_images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_code] [nvarchar](max) NOT NULL,
	[supplier_name] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[tax_code] [nvarchar](max) NOT NULL,
	[banK_account] [nvarchar](max) NOT NULL,
	[bank_name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [nvarchar](450) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[use_pwd] [nvarchar](64) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
	[dateofbirth] [datetime2](7) NULL,
	[email] [nvarchar](100) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[avatar] [nvarchar](200) NOT NULL,
	[is_active] [bit] NOT NULL,
	[facebook_account_id] [int] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 2/28/2024 8:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240115164804_hehe', N'7.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240220041407_addSupplier', N'7.0.15')
GO
SET IDENTITY_INSERT [dbo].[category_product] ON 

INSERT [dbo].[category_product] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (1, 0, 1, N'Giấy Văn Phòng', N'Giấy A4, giấy in, giấy fax, v.v.', 0, CAST(N'2024-01-15T22:39:14.5784003' AS DateTime2), N'admin', CAST(N'2024-01-15T22:39:14.5784012' AS DateTime2), N'admin')
INSERT [dbo].[category_product] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (2, 0, 1, N'Bút Viết', N'Bút bi, bút mực, bút chì, v.v.', 0, CAST(N'2024-01-15T22:39:14.5784186' AS DateTime2), N'admin', CAST(N'2024-01-15T22:39:14.5784186' AS DateTime2), N'admin')
INSERT [dbo].[category_product] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (3, 0, 1, N'Dụng Cụ Học Tập', N'Thước kẻ, bảng, phấn, v.v.', 0, CAST(N'2024-01-15T22:39:14.5784216' AS DateTime2), N'admin', CAST(N'2024-01-15T22:39:14.5784216' AS DateTime2), N'admin')
SET IDENTITY_INSERT [dbo].[category_product] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([Id], [description], [CategoryProductID], [Price], [Notes], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (1, N'Giấy A4 80gsm', 11, CAST(50000.00 AS Decimal(18, 2)), N'Gói 500 tờ', 1, 0, CAST(N'2024-01-16T10:00:00.0000000' AS DateTime2), N'admin', CAST(N'2024-01-16T10:00:00.0000000' AS DateTime2), N'admin')
INSERT [dbo].[product] ([Id], [description], [CategoryProductID], [Price], [Notes], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (2, N'Bút bi mực xanh', 2, CAST(10000.00 AS Decimal(18, 2)), N'Bút bi hàng cao cấp', 1, 0, CAST(N'2024-01-16T10:05:00.0000000' AS DateTime2), N'admin', CAST(N'2024-01-16T10:05:00.0000000' AS DateTime2), N'admin')
INSERT [dbo].[product] ([Id], [description], [CategoryProductID], [Price], [Notes], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (3, N'Thước kẻ 30cm', 3, CAST(15000.00 AS Decimal(18, 2)), N'Thước nhựa trong suốt', 1, 0, CAST(N'2024-01-16T10:10:00.0000000' AS DateTime2), N'admin', CAST(N'2024-01-16T10:10:00.0000000' AS DateTime2), N'admin')
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([Id], [name], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (1, N'ADMIN', CAST(N'2024-01-18T13:39:00.3503194' AS DateTime2), N'ADMIN', CAST(N'2024-01-18T13:39:00.3504202' AS DateTime2), N'ADMIN')
INSERT [dbo].[role] ([Id], [name], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (2, N'USER', CAST(N'2024-01-18T13:39:00.3505216' AS DateTime2), N'ADMIN', CAST(N'2024-01-18T13:39:00.3505218' AS DateTime2), N'ADMIN')
INSERT [dbo].[role] ([Id], [name], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (3, N'EMPLOYEE', CAST(N'2024-01-18T13:39:00.3505220' AS DateTime2), N'ADMIN', CAST(N'2024-01-18T13:39:00.3505221' AS DateTime2), N'ADMIN')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [supplier_code], [supplier_name], [address], [phone], [email], [tax_code], [banK_account], [bank_name], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (1, N'Code01', N'Code01', N'96 định công', N'0346790482', N'tien01nx@gmail.com', N'0987654321', N'tien01nx', N'string', 0, 1, CAST(N'2024-02-22T08:46:47.3680000' AS DateTime2), N'string', CAST(N'2024-02-25T11:13:18.8992724' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [supplier_code], [supplier_name], [address], [phone], [email], [tax_code], [banK_account], [bank_name], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (2, N'Code02', N'Code02', N'string', N'0346790384', N'tuan97nx@gmail.com', N'0985764773', N'tien01nx', N'VCB', 0, 1, CAST(N'2024-02-24T15:47:23.0130000' AS DateTime2), N'string', CAST(N'2024-02-25T11:10:58.6734257' AS DateTime2), N'Admin')
INSERT [dbo].[Suppliers] ([Id], [supplier_code], [supplier_name], [address], [phone], [email], [tax_code], [banK_account], [bank_name], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (13, N'SUP001', N'Công ty A', N'123 Đường A, Quận 1', N'0123456789', N'emaila@congtya.com', N'123456789', N'1234567890', N'Ngân hàng A', 1, 0, CAST(N'2024-02-25T19:32:09.0000000' AS DateTime2), N'user01', CAST(N'2024-02-25T19:32:09.0000000' AS DateTime2), N'user01')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
INSERT [dbo].[user] ([user_id], [user_name], [use_pwd], [full_name], [phone_number], [dateofbirth], [email], [address], [avatar], [is_active], [facebook_account_id], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (N'185fe62b-1a55-4927-b5f0-927155858470', N'ADMIN', N'$2a$10$fHztdJEAkFeZxYqf7m/cAeWszHK4hAJfjxffdRUfs8crVVInFbXwC', N'Tiến Nguyễn', N'0346790482', NULL, N'', N'', N'', 1, 0, CAST(N'2024-01-18T13:39:05.6775520' AS DateTime2), N'Admin', CAST(N'2024-01-18T13:39:05.6872335' AS DateTime2), N'Admin')
GO
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([Id], [role_id], [user_id]) VALUES (1, 1, N'185fe62b-1a55-4927-b5f0-927155858470')
SET IDENTITY_INSERT [dbo].[user_role] OFF
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_product_ProductId]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK_user_role_role_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK_user_role_role_role_id]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK_user_role_user_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK_user_role_user_user_id]
GO
