USE [demo]
GO
ALTER TABLE [dbo].[user_role] DROP CONSTRAINT [FK_user_role_user_user_id]
GO
ALTER TABLE [dbo].[user_role] DROP CONSTRAINT [FK_user_role_role_role_id]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_role]') AND type in (N'U'))
DROP TABLE [dbo].[user_role]
GO
/****** Object:  Table [dbo].[user]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user]') AND type in (N'U'))
DROP TABLE [dbo].[user]
GO
/****** Object:  Table [dbo].[role]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role]') AND type in (N'U'))
DROP TABLE [dbo].[role]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product_images]') AND type in (N'U'))
DROP TABLE [dbo].[product_images]
GO
/****** Object:  Table [dbo].[product]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
DROP TABLE [dbo].[product]
GO
/****** Object:  Table [dbo].[OrderHeaders]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderHeaders]') AND type in (N'U'))
DROP TABLE [dbo].[OrderHeaders]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_details]') AND type in (N'U'))
DROP TABLE [dbo].[order_details]
GO
/****** Object:  Table [dbo].[log]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[log]') AND type in (N'U'))
DROP TABLE [dbo].[log]
GO
/****** Object:  Table [dbo].[category_product]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[category_product]') AND type in (N'U'))
DROP TABLE [dbo].[category_product]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/15/2024 11:25:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/15/2024 11:25:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_product]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[CategoryLevel] [int] NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_category_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[log_time] [datetime2](7) NULL,
	[log_status] [tinyint] NULL,
	[pc_name] [nvarchar](50) NULL,
	[pg_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderHeaderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [real] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_order_details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeaders]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeaders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShoopingDate] [datetime2](7) NOT NULL,
	[OrderTotal] [real] NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[TrackingNumber] [nvarchar](max) NOT NULL,
	[Carrier] [nvarchar](max) NOT NULL,
	[PaymentData] [datetime2](7) NOT NULL,
	[PaymentDuaDate] [datetime2](7) NOT NULL,
	[SessionId] [nvarchar](max) NOT NULL,
	[PaymentIntentId] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[StreetAddress] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[PostalCode] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_OrderHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[CategoryProductID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ImageType] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_product_images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [nvarchar](450) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[use_pwd] [nvarchar](64) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
	[dateofbirth] [datetime2](7) NULL,
	[email] [nvarchar](100) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[avatar] [nvarchar](200) NOT NULL,
	[is_active] [bit] NOT NULL,
	[facebook_account_id] [int] NOT NULL,
	[create_datetime] [datetime2](7) NOT NULL,
	[create_user_id] [nvarchar](10) NOT NULL,
	[update_datetime] [datetime2](7) NOT NULL,
	[update_user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 1/15/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240115111324_creataDatabase', N'7.0.15')
GO
SET IDENTITY_INSERT [dbo].[category_product] ON 

INSERT [dbo].[category_product] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (1, 0, 1, N'Giấy Văn Phòng', N'Giấy A4, giấy in, giấy fax, v.v.', 0, CAST(N'2024-01-15T22:39:14.5784003' AS DateTime2), N'admin', CAST(N'2024-01-15T22:39:14.5784012' AS DateTime2), N'admin')
INSERT [dbo].[category_product] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (2, 0, 1, N'Bút Viết', N'Bút bi, bút mực, bút chì, v.v.', 0, CAST(N'2024-01-15T22:39:14.5784186' AS DateTime2), N'admin', CAST(N'2024-01-15T22:39:14.5784186' AS DateTime2), N'admin')
INSERT [dbo].[category_product] ([Id], [ParentID], [CategoryLevel], [CategoryName], [Notes], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (3, 0, 1, N'Dụng Cụ Học Tập', N'Thước kẻ, bảng, phấn, v.v.', 0, CAST(N'2024-01-15T22:39:14.5784216' AS DateTime2), N'admin', CAST(N'2024-01-15T22:39:14.5784216' AS DateTime2), N'admin')
SET IDENTITY_INSERT [dbo].[category_product] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([Id], [description], [CategoryProductID], [Price], [Notes], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (1, N'hehe', 111, CAST(100000.00 AS Decimal(18, 2)), N'heheh', 1, 1, CAST(N'2023-12-12T00:00:00.0000000' AS DateTime2), N'hehe', CAST(N'2023-12-12T00:00:00.0000000' AS DateTime2), N'hehe')
INSERT [dbo].[product] ([Id], [description], [CategoryProductID], [Price], [Notes], [IsActive], [IsDeleted], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (2, N'admin', 0, CAST(100000.00 AS Decimal(18, 2)), N'note', 1, 1, CAST(N'2024-01-15T15:11:29.6480000' AS DateTime2), N'admin', CAST(N'2024-01-15T15:11:29.6480000' AS DateTime2), N'admin')
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([Id], [name], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (1, N'Admin', CAST(N'2024-01-15T21:47:42.6402476' AS DateTime2), N'Admin', CAST(N'2024-01-15T21:47:42.6466075' AS DateTime2), N'Admin')
INSERT [dbo].[role] ([Id], [name], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (2, N'User', CAST(N'2024-01-15T21:47:42.6540425' AS DateTime2), N'Admin', CAST(N'2024-01-15T21:47:42.6601415' AS DateTime2), N'Admin')
INSERT [dbo].[role] ([Id], [name], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (3, N'Employee', CAST(N'2024-01-15T21:47:42.6671860' AS DateTime2), N'Admin', CAST(N'2024-01-15T21:47:42.6735227' AS DateTime2), N'Admin')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
INSERT [dbo].[user] ([user_id], [user_name], [use_pwd], [full_name], [phone_number], [dateofbirth], [email], [address], [avatar], [is_active], [facebook_account_id], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (N'185fe62b-1a55-4927-b5f0-927155858470', N'Admin', N'$2a$10$5Vn6tLP5ye0vvs93mduFyeEFu6MXezTui83NfXPTW1rXjozFG9Uc6', N'Tiến Nguyễn', N'0346790482', NULL, N'', N'', N'', 1, 0, CAST(N'2024-01-15T21:47:48.1001772' AS DateTime2), N'Admin', CAST(N'2024-01-15T21:47:48.1056739' AS DateTime2), N'Admin')
INSERT [dbo].[user] ([user_id], [user_name], [use_pwd], [full_name], [phone_number], [dateofbirth], [email], [address], [avatar], [is_active], [facebook_account_id], [create_datetime], [create_user_id], [update_datetime], [update_user_id]) VALUES (N'c1ab5e8c-1aeb-4a1a-848f-4ba35ffe5bb9', N'admin1', N'$2a$10$zC1VC5u.ndM.o1ozV3hGoufGZlMhq5K4piKHSCFifCWx9XzSD7iwO', N'admin1', N'0346790482', NULL, N'', N'', N'', 1, 0, CAST(N'2024-01-15T21:50:24.3660386' AS DateTime2), N'admin1', CAST(N'2024-01-15T21:50:24.3660402' AS DateTime2), N'admin1')
GO
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([Id], [role_id], [user_id]) VALUES (1, 1, N'185fe62b-1a55-4927-b5f0-927155858470')
INSERT [dbo].[user_role] ([Id], [role_id], [user_id]) VALUES (2, 3, N'c1ab5e8c-1aeb-4a1a-848f-4ba35ffe5bb9')
INSERT [dbo].[user_role] ([Id], [role_id], [user_id]) VALUES (5, 2, N'185fe62b-1a55-4927-b5f0-927155858470')
SET IDENTITY_INSERT [dbo].[user_role] OFF
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK_user_role_role_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK_user_role_role_role_id]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK_user_role_user_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK_user_role_user_user_id]
GO
