<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Trang 1</a></li>
    <li class="breadcrumb-item"><a href="#!">Trang 2</a></li>
    <li class="breadcrumb-item active">Mặc định</li>
  </ol>
</nav>
<form
  class="mb-9"
  [formGroup]="productForm"
  enctype="multipart/form-data"
  (submit)="onSubmit()"
>
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">Thêm một sản phẩm</h2>
      <h5 class="text-body-tertiary fw-semibold">
        Đơn đặt hàng được đặt trên cửa hàng của bạn
      </h5>
    </div>
    <div class="col-auto">
      <button class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button">
        Loại bỏ</button
      ><button class="btn btn-phoenix-primary me-2 mb-2 mb-sm-0" type="button">
        Lưu bản nháp</button
      ><button class="btn btn-primary mb-2 mb-sm-0" type="submit">
        Xuất bản sản phẩm
      </button>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-xl-8">
      <h4 class="mb-3">
        Tên sản phẩm
        <sup class="text-danger">*</sup>
      </h4>
      <input
        class="form-control mb-5"
        type="text"
        placeholder="Hãy nhập tên sản phẩm"
        formControlName="productName"
      />
      <small
        class="text-danger mt-1"
        *ngIf="productForm['controls']['productName'].dirty"
      >
        <span
          *ngIf="productForm['controls']['productName'].errors?.['required']"
        >
          Tên sản phẩm không được để trống
        </span>
        <span
          *ngIf="productForm['controls']['productName'].errors?.['maxlength']"
        >
          Tên sản phẩm không được vượt quá 500 ký tự
        </span>
      </small>
      <div class="mb-6">
        <h4 class="mb-3">Mô tả Sản phẩm</h4>
        <editor
          formControlName="description"
          apiKey="gj95nksg3ionftnqn5uftwoqunmga9lfr7pi9zzpgv3egm95"
          [init]="{
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
          }"
        ></editor>
      </div>
      <h4 class="mb-3">Hiển thị hình ảnh</h4>

      <div class="d-inline-flex" *ngIf="selectedImageProductUrl.length != 0">
        <div
          class="position-relative d-inline-block d-flex justify-content-center mb-2 border rounded-1 me-2"
          style="width: 100px; height: 100px"
          *ngFor="let image of selectedImageProductUrl"
        >
          <img
            class="w-100 h-auto rounded-1 object-fit-contain"
            src="{{ Environment.apiBaseUrl }}/images/"
            alt=""
          />
          <a
            href="javascript:void(0);"
            class="position-absolute w-100 d-flex justify-content-end pe-2 pt-2 fs-9"
            (click)="deleteImageProduct(image)"
          >
            <span class="text-body-tertiary fa-solid fa-x"></span>
          </a>
        </div>
      </div>

      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label
          >Kéo ảnh của bạn vào đây hoặc Duyệt từ thiết bị</ngx-dropzone-label
        >
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of selectedImageProductFiles"
          [file]="f"
          [removable]="true"
          (removed)="onRemove(f)"
        />
      </ngx-dropzone>
      <h4 class="mb-3">Hàng tồn kho</h4>
      <div class="row g-0 border-top border-bottom">
        <div class="col-sm-4">
          <div
            class="nav flex-sm-column border-bottom border-bottom-sm-0 border-end-sm fs-9 vertical-tab h-100 justify-content-between"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center active"
              id="pricingTab"
              data-bs-toggle="tab"
              data-bs-target="#pricingTabContent"
              role="tab"
              aria-controls="pricingTabContent"
              aria-selected="true"
            >
              <span class="me-sm-2 fs-4 nav-icons" data-feather="tag"></span
              ><span class="d-none d-sm-inline">Thông tin bổ sung</span></a
            >
            <!-- <a
              class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
              id="restockTab"
              data-bs-toggle="tab"
              data-bs-target="#restockTabContent"
              role="tab"
              aria-controls="restockTabContent"
              aria-selected="false"
            >
              <span class="me-sm-2 fs-4 nav-icons" data-feather="package"></span
              ><span class="d-none d-sm-inline">Bổ sung</span></a
            > -->
            <!-- <a
              class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
              id="shippingTab"
              data-bs-toggle="tab"
              data-bs-target="#shippingTabContent"
              role="tab"
              aria-controls="shippingTabContent"
              aria-selected="false"
            >
              <span class="me-sm-2 fs-4 nav-icons" data-feather="truck"></span
              ><span class="d-none d-sm-inline">Đang chuyển hàng</span></a
            ><a
              class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
              id="productsTab"
              data-bs-toggle="tab"
              data-bs-target="#productsTabContent"
              role="tab"
              aria-controls="productsTabContent"
              aria-selected="false"
            >
              <span class="me-sm-2 fs-4 nav-icons" data-feather="globe"></span
              ><span class="d-none d-sm-inline">Giao hàng toàn cầu</span></a
            ><a
              class="nav-link border-end border-end-sm-0 border-bottom-sm text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
              id="attributesTab"
              data-bs-toggle="tab"
              data-bs-target="#attributesTabContent"
              role="tab"
              aria-controls="attributesTabContent"
              aria-selected="false"
            >
              <span class="me-sm-2 fs-4 nav-icons" data-feather="sliders"></span
              ><span class="d-none d-sm-inline">Thuộc tính</span></a
            ><a
              class="nav-link text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center"
              id="advancedTab"
              data-bs-toggle="tab"
              data-bs-target="#advancedTabContent"
              role="tab"
              aria-controls="advancedTabContent"
              aria-selected="false"
            >
              <span class="me-sm-2 fs-4 nav-icons" data-feather="lock"></span
              ><span class="d-none d-sm-inline">Trình độ cao</span></a
            > -->
          </div>
        </div>
        <div class="col-sm-8">
          <div class="tab-content py-3 ps-sm-4 h-100">
            <div
              class="tab-pane fade show active"
              id="pricingTabContent"
              role="tabpanel"
            >
              <h4 class="mb-3 d-sm-none">Định giá</h4>
              <div class="row g-3">
                <div class="col-12 col-lg-6">
                  <h5 class="mb-2 text-body-highlight">Giá đề xuất</h5>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="$$$"
                    formControlName="suggestedPrice"
                  />
                  <small
                    class="text-danger mt-1"
                    *ngIf="productForm['controls']['suggestedPrice'].dirty"
                  >
                    <span
                      *ngIf="productForm['controls']['suggestedPrice'].errors?.['min']"
                    >
                      Tên sản phẩm không được để trống
                    </span>
                    <span
                      *ngIf="productForm['controls']['suggestedPrice'].errors?.['pattern']"
                    >
                      Tên sản phẩm không được vượt quá 500 ký tự
                    </span>
                  </small>
                </div>
                <div class="col-12 col-lg-6">
                  <h5 class="mb-2 text-body-highlight">Giá bán</h5>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="$$$"
                    formControlName="sellingPrice"
                  />
                  <small
                    class="text-danger mt-1"
                    *ngIf="productForm['controls']['sellingPrice'].dirty"
                  >
                    <span
                      *ngIf="productForm['controls']['sellingPrice'].errors?.['min']"
                    >
                      Tên sản phẩm không được để trống
                    </span>
                    <span
                      *ngIf="productForm['controls']['sellingPrice'].errors?.['pattern']"
                    >
                      Tên sản phẩm không được vượt quá 500 ký tự
                    </span>
                  </small>
                </div>
              </div>
            </div>

            <h5 class="mb-3 text-body-highlight mt-3">Thêm vào kho</h5>
            <div class="row g-3 flex-1 mb-4">
              <div class="col-sm-7">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Quantity"
                />
              </div>
              <div class="col-sm">
                <button class="btn btn-primary" type="button">
                  <span class="fa-solid fa-check me-1 fs-10"></span>Xác nhận
                </button>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th style="width: 200px"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-body-highlight fw-bold py-1">
                    Sản phẩm hiện còn hàng:
                  </td>
                  <td class="text-body-tertiary fw-semibold py-1">
                    $1,090<button class="btn p-0" type="button">
                      <span
                        class="fa-solid fa-rotate text-body ms-1"
                        style="--phoenix-text-opacity: 0.6"
                      ></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-body-highlight fw-bold py-1">
                    Sản phẩm đang vận chuyển:
                  </td>
                  <td class="text-body-tertiary fw-semibold py-1">5000</td>
                </tr>
                <tr>
                  <td class="text-body-highlight fw-bold py-1">
                    Lần bổ sung gần đây nhất:
                  </td>
                  <td class="text-body-tertiary fw-semibold py-1">
                    Ngày 30 tháng 6 năm 2021
                  </td>
                </tr>
                <tr>
                  <td class="text-body-highlight fw-bold py-1">
                    Tổng số cổ phiếu trong suốt thời gian tồn tại:
                  </td>
                  <td class="text-body-tertiary fw-semibold py-1">20,000</td>
                </tr>
              </tbody>
            </table>
            <div
              class="tab-pane fade h-100"
              id="restockTabContent"
              role="tabpanel"
              aria-labelledby="restockTab"
            >
              <div class="d-flex flex-column h-100"></div>
            </div>
            <div
              class="tab-pane fade h-100"
              id="shippingTabContent"
              role="tabpanel"
              aria-labelledby="shippingTab"
            >
              <!-- <div class="d-flex flex-column h-100">
                <h5 class="mb-3 text-body-highlight">Loại vận chuyển</h5>
                <div class="flex-1">
                  <div class="mb-4">
                    <div class="form-check mb-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="shippingRadio"
                        id="fullfilledBySeller"
                      /><label
                        class="form-check-label fs-8 text-body"
                        for="fullfilledBySeller"
                        >Được thực hiện bởi người bán</label
                      >
                    </div>
                    <div class="ps-4">
                      <p class="text-body-secondary fs-9 mb-0">
                        Bạn sẽ chịu trách nhiệm phân phối sản phẩm. <br />Bất kỳ
                        hư hỏng hoặc chậm trễ trong quá trình vận chuyển có thể
                        khiến bạn phải chịu thiệt hại phí.
                      </p>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="form-check mb-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="shippingRadio"
                        id="fullfilledByPhoenix"
                        checked="checked"
                      /><label
                        class="form-check-label fs-8 text-body d-flex align-items-center"
                        for="fullfilledByPhoenix"
                        >Được thực hiện bởi Phoenix
                        <span
                          class="badge badge-phoenix badge-phoenix-warning fs-10 ms-2"
                          >Khuyến khích</span
                        ></label
                      >
                    </div>
                    <div class="ps-4">
                      <p class="text-body-secondary fs-9 mb-0">
                        Sản phẩm của bạn, Trách nhiệm của chúng tôi.<br />Đối
                        với một khoản phí nhỏ, chúng tôi sẽ xử lý quá trình giao
                        hàng cho bạn.
                      </p>
                    </div>
                  </div>
                </div>
                <p class="fs-9 fw-semibold mb-0">
                  Xem của chúng tôi
                  <a class="fw-bold" href="#!"
                    >Điều khoản và điều kiện giao hàng </a
                  >để biết chi tiết.
                </p>
              </div> -->
            </div>
            <!-- <div
              class="tab-pane fade"
              id="productsTabContent"
              role="tabpanel"
              aria-labelledby="productsTab"
            >
              <h5 class="mb-3 text-body-highlight">Giao hàng toàn cầu</h5>
              <div class="mb-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="deliveryRadio"
                    id="worldwideDelivery"
                  /><label
                    class="form-check-label fs-8 text-body"
                    for="worldwideDelivery"
                    >Giao hàng trên toàn thế giới</label
                  >
                </div>
                <div class="ps-4">
                  <p class="fs-9 mb-0 text-body-secondary">
                    Chỉ có sẵn với phương thức Vận chuyển:
                    <a href="#!">Được Phoenix điền đầy đủ</a>
                  </p>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="deliveryRadio"
                    checked="checked"
                    id="selectedCountry"
                  /><label
                    class="form-check-label fs-8 text-body"
                    for="selectedCountry"
                    >Các quốc gia được chọn</label
                  >
                </div>
                <div class="ps-4" style="max-width: 350px">
                  <select
                    class="form-select ps-4"
                    id="organizerMultiple"
                    data-choices="data-choices"
                    multiple="multiple"
                    data-options='{"removeItemButton":true,"placeholder":true}'
                  >
                    <option value="">Nhập tên quốc gia</option>
                    <option>Hợp chủng quốc Hoa Kỳ</option>
                    <option>Vương quốc Anh</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>
              </div>
              <div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="deliveryRadio"
                    id="localDelivery"
                  /><label
                    class="form-check-label fs-8 text-body"
                    for="localDelivery"
                    >Giao hàng tận nơi</label
                  >
                </div>
                <p class="fs-9 ms-4 mb-0 text-body-secondary">
                  Gửi đến quốc gia cư trú của bạn
                  <a href="#!">Thay đổi địa chỉ hồ sơ </a>
                </p>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="attributesTabContent"
              role="tabpanel"
              aria-labelledby="attributesTab"
            >
              <h5 class="mb-3 text-body-highlight">Thuộc tính</h5>
              <div class="form-check">
                <input
                  class="form-check-input"
                  id="fragileCheck"
                  type="checkbox"
                /><label
                  class="form-check-label text-body fs-8"
                  for="fragileCheck"
                  >Sản phẩm dễ vỡ</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  id="biodegradableCheck"
                  type="checkbox"
                /><label
                  class="form-check-label text-body fs-8"
                  for="biodegradableCheck"
                  >phân hủy sinh học</label
                >
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    id="frozenCheck"
                    type="checkbox"
                    checked="checked"
                  /><label
                    class="form-check-label text-body fs-8"
                    for="frozenCheck"
                    >Sản phẩm đông lạnh</label
                  ><input
                    class="form-control"
                    type="text"
                    placeholder="Max. allowed Temperature"
                    style="max-width: 350px"
                  />
                </div>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  id="productCheck"
                  type="checkbox"
                  checked="checked"
                /><label
                  class="form-check-label text-body fs-8"
                  for="productCheck"
                  >Ngày hết hạn của sản phẩm</label
                ><input
                  class="form-control inventory-attributes datetimepicker"
                  id="inventory"
                  type="text"
                  style="max-width: 350px"
                  placeholder="d/m/y"
                  data-options='{"disableMobile":true}'
                />
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="advancedTabContent"
              role="tabpanel"
              aria-labelledby="advancedTab"
            >
              <h5 class="mb-3 text-body-highlight">Trình độ cao</h5>
              <div class="row g-3">
                <div class="col-12 col-lg-6">
                  <h5 class="mb-2 text-body-highlight">Loại ID sản phẩm</h5>
                  <select
                    class="form-select"
                    aria-label="form-select-lg example"
                  >
                    <option selected="selected">ISBN</option>
                    <option value="1">UPC</option>
                    <option value="2">EAN</option>
                    <option value="3">JAN</option>
                  </select>
                </div>
                <div class="col-12 col-lg-6">
                  <h5 class="mb-2 text-body-highlight">Product ID</h5>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="ISBN Number"
                  />
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title mb-4">Tổ chức</h4>
              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">Loại</h5>
                      <a class="fw-bold fs-9" href="#!">Thêm danh mục mới</a>
                    </div>
                    <select class="form-select mb-3" aria-label="category">
                      <option value="men-cloth">Quần áo nam</option>
                      <option value="women-cloth">Quần áo nữ</option>
                      <option value="kid-cloth">Quần áo trẻ em</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">
                        Nhà cung cấp
                      </h5>
                      <a class="fw-bold fs-9" href="#!"
                        >Thêm nhà cung cấp mới</a
                      >
                    </div>
                    <select class="form-select mb-3" aria-label="category">
                      <option value="men-cloth">Quần áo nam</option>
                      <option value="women-cloth">Quần áo nữ</option>
                      <option value="kid-cloth">Quần áo trẻ em</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <h5 class="mb-2 text-body-highlight">Bộ sưu tập</h5>
                    <input
                      class="form-control mb-xl-3"
                      type="text"
                      placeholder="Collection"
                    />
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="d-flex flex-wrap mb-2">
                    <h5 class="mb-0 text-body-highlight me-2">Thẻ</h5>
                    <a class="fw-bold fs-9 lh-sm" href="#!"
                      >Xem tất cả các thẻ</a
                    >
                  </div>
                  <select class="form-select" aria-label="category">
                    <option value="men-cloth">Quần áo nam</option>
                    <option value="women-cloth">Quần áo nữ</option>
                    <option value="kid-cloth">Quần áo trẻ em</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Các biến thể</h4>
              <div class="row g-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div
                    class="border-bottom viền-đường viền mờ-đường viền nét đứt-sm-0 border-bottom-xl pb-4"
                  >
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="text-body-highlight me-2">Tùy chọn 1</h5>
                      <a class="fw-bold fs-9" href="#!">Xóa</a>
                    </div>
                    <select class="form-select mb-3">
                      <option value="size">Kích thước</option>
                      <option value="color">Màu</option>
                      <option value="weight">Trọng lượng</option>
                      <option value="smell">Mùi</option>
                    </select>
                    <div class="product-variant-select-menu">
                      <select
                        class="form-select mb-3"
                        data-choices="data-choices"
                        multiple="multiple"
                        data-options='{"removeItemButton":true,"placeholder":true}'
                      >
                        <option value="size">4x6 in</option>
                        <option value="color">9x6 in</option>
                        <option value="weight">11x8 in</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-phoenix-primary w-100" type="button">
                Thêm tùy chọn khác
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<footer class="footer position-absolute"></footer>
