<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Trang 1</a></li>
    <li class="breadcrumb-item"><a href="#!">Trang 2</a></li>
    <li class="breadcrumb-item active">Mặc định</li>
  </ol>
</nav>
<form
  class="mb-9"
  [formGroup]="productForm"
  enctype="multipart/form-data"
  (submit)="onSubmit()"
>
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">Thêm một sản phẩm</h2>
      <h5 class="text-body-tertiary fw-semibold">
        Đơn đặt hàng được đặt trên cửa hàng của bạn
      </h5>
    </div>
    <div class="col-auto">
      <span class="btn btn-info mb-2 mb-sm-0 me-8" routerLink="/admin/products">
        Quay lại
      </span>
      <span
        class="btn btn-danger mb-2 mb-sm-0 me-8"
        (click)="deleteProduct(productForm.value.id)"
        *ngIf="isDisplayNone"
      >
        Xóa
      </span>
      <button
        class="btn btn-primary mb-2 mb-sm-0 me-8"
        type="submit"
        [disabled]="productForm.invalid"
      >
        {{ btnSave }}
      </button>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-xl-8">
      <h4 class="mb-3">
        Tên sản phẩm
        <sup class="text-danger">*</sup>
      </h4>
      <input
        class="form-control mb-5"
        type="text"
        placeholder="Hãy nhập tên sản phẩm"
        formControlName="productName"
      />
      <small
        class="text-danger mt-1"
        *ngIf="productForm['controls']['productName'].dirty"
      >
        <span
          *ngIf="productForm['controls']['productName'].errors?.['required']"
        >
          Tên sản phẩm không được để trống
        </span>
        <span
          *ngIf="productForm['controls']['productName'].errors?.['maxlength']"
        >
          Tên sản phẩm không được vượt quá 50 ký tự
        </span>
      </small>
      <div class="mb-6">
        <h4 class="mb-3">Mô tả Sản phẩm <sup class="text-danger">*</sup></h4>

        <editor
          formControlName="description"
          apiKey="gj95nksg3ionftnqn5uftwoqunmga9lfr7pi9zzpgv3egm95"
          [init]="{
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
          }"
        ></editor>
        <small
          class="text-danger mt-1"
          *ngIf="productForm['controls']['description'].dirty"
        >
          <span
            *ngIf="productForm['controls']['description'].errors?.['required']"
          >
            Mô tả sản phẩm không được để trống
          </span>
          <span
            *ngIf="productForm['controls']['description'].errors?.['minlength']"
          >
            Mô tả sản phẩm cần >100 ký tự
          </span>
        </small>
      </div>
      <h4 class="mb-3">Hiển thị hình ảnh <sup class="text-danger">*</sup></h4>

      <div class="d-inline-flex" *ngIf="productImage.length != 0">
        <div
          class="position-relative d-inline-block d-flex justify-content-center mb-2 border rounded-1 me-2"
          style="width: 100px; height: 100px"
          *ngFor="let image of productImage"
        >
          <img
            class="w-100 h-auto rounded-1 object-fit-contain"
            src="{{ Environment.apiBaseRoot }}/{{ image.imagePath }}"
            alt=""
          />
          <a
            href="javascript:void(0);"
            class="position-absolute w-100 d-flex justify-content-end pe-2 pt-2 fs-9"
            (click)="deleteImageProduct(image.imageName)"
          >
            <span class="text-body-tertiary fa-solid fa-x"></span>
          </a>
        </div>
      </div>

      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label
          >Kéo ảnh của bạn vào đây hoặc Duyệt từ thiết bị</ngx-dropzone-label
        >
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of selectedImageProductFiles"
          [file]="f"
          [removable]="true"
          (removed)="onRemove(f)"
        />
      </ngx-dropzone>
    </div>
    <div class="col-12 col-xl-4">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title mb-4">Thông tin</h4>
              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">
                        Loại <sup class="text-danger">*</sup>
                      </h5>
                      <a class="fw-bold fs-9" href="/admin/categories"
                        >Thêm danh mục mới</a
                      >
                    </div>
                    <ng-select
                      formControlName="categoryId"
                      placeholder="Chọn danh mục"
                    >
                      <ng-option
                        *ngFor="let category of categories"
                        [value]="category.id"
                      >
                        {{ category.categoryName }}
                      </ng-option>
                    </ng-select>
                    <small
                      class="text-danger mt-1"
                      *ngIf="
                        productForm.get('categoryId')?.invalid &&
                        (productForm.get('categoryId')?.dirty ||
                          productForm.get('categoryId')?.touched)
                      "
                    >
                      <span
                        *ngIf="productForm.get('categoryId')?.errors?.['required']"
                      >
                        Danh mục không được để trống
                      </span>
                    </small>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">
                        Thương hiệu <sup class="text-danger">*</sup>
                      </h5>
                      <a class="fw-bold fs-9" href="/admin/trademark"
                        >Thêm mới thương hiệu</a
                      >
                    </div>

                    <ng-select
                      formControlName="trademarkId"
                      placeholder="Chọn thương hiệu"
                    >
                      <ng-option
                        *ngFor="let trademark of trademarks"
                        [value]="trademark.id"
                      >
                        {{ trademark.trademarkName }}
                      </ng-option>
                    </ng-select>
                    <small
                      class="text-danger mt-1"
                      *ngIf="productForm['controls']['trademarkId'].dirty"
                    >
                      <span
                        *ngIf="productForm['controls']['trademarkId'].errors?.['required']"
                      >
                        Thương hiệu không được để trống
                      </span>
                    </small>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <h5 class="mb-2 text-body-highlight">
                      Màu sắc <sup class="text-danger">*</sup>
                    </h5>
                    <!-- <input
                      class="form-control mb-xl-3"
                      type="text"
                      placeholder="Collection"
                    /> -->
                    <!-- <ng-select
                      [items]="color"
                      bindValue="name"
                      bindLabel="name"
                      formControlName="color"
                    ></ng-select> -->
                    <input
                      class="form-control mb-xl-3"
                      type="text"
                      placeholder="Màu sắc"
                      formControlName="color"
                    />
                    <small
                      class="text-danger mt-1"
                      *ngIf="productForm['controls']['color'].dirty"
                    >
                      <span
                        *ngIf="productForm['controls']['color'].errors?.['required']"
                      >
                        Màu sắc là bắt buộc
                      </span>
                      <span
                        *ngIf="productForm['controls']['color'].errors?.['maxlength']"
                      >
                        Màu sắc nhập tối đa 30 ký tự
                      </span>
                      <span
                        *ngIf="productForm['controls']['color'].errors?.['pattern']"
                      >
                        Màu sắc không đúng định dạng
                      </span>
                    </small>
                  </div>
                </div>
                <!-- thứ tự hiện thị sản phẩm -->
                <div class="col-6 col -sm-6 col-xl-6">
                  <div class="mb-4">
                    <h5 class="mb-2 text-body-highlight">Thứ tự hiển thị</h5>
                    <input
                      class="form-control mb-xl-3"
                      type="number"
                      min="0"
                      max="4"
                      placeholder="Thứ tự hiển thị"
                      formControlName="priorityLevel"
                      (keypress)="Utils.handleKeyPress($event, 0, 4)"
                    />
                  </div>
                </div>
                <div class="col-6 col -sm-6 col-xl-6">
                  <div class="mb-4">
                    <h5 class="mb-2 text-body-highlight">Trình trạng</h5>

                    <!-- combobox -->
                    <select
                      class="form-control mb-xl-3"
                      formControlName="isActive"
                    >
                      <option [value]="true">Đang bán</option>
                      <option [value]="false">Ngừng bán</option>
                    </select>

                    <!-- <input
                      class="form-control mb-xl-3"
                      type="number"
                      placeholder="Trình trạng bán sản phẩm"
                      formControlName="isActive"
                    /> -->
                  </div>
                </div>
                <div class="col-12 col -sm-6 col-xl-12">
                  <div class="mb-4">
                    <h5 class="mb-2 text-body-highlight">Ghi chú</h5>
                    <!-- <input
                      class="form-control mb-xl-3"
                      type="number"
                      placeholder="Ghi chú"
                      formControlName="notes"
                    /> -->
                    <textarea
                      class="form-control"
                      placeholder="Ghi chú"
                      formControlName="notes"
                      style="height: 100px"
                    >
                    </textarea>

                    <small
                      class="text-danger mt-1"
                      *ngIf="productForm['controls']['notes'].dirty"
                    >
                      <span
                        *ngIf="productForm['controls']['notes'].errors?.['maxlength']"
                      >
                        Ghi chú được nhập tối đa là 200 ký tự
                      </span>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Thông tin sản phẩm chi tiết</h4>
              <div class="row g-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div
                    class="border-bottom viền-đường viền mờ-đường viền nét đứt-sm-0 border-bottom-xl pb-4"
                  >
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="text-body-highlight me-2">
                        Giá <sup class="text-danger"></sup>
                      </h5>
                    </div>

                    <div class="input-group">
                      <input
                        class="form-control"
                        type="number"
                        placeholder="0"
                        formControlName="price"
                        (keypress)="Utils.handleKeyPressNguyen($event)"
                      />

                      <span class="input-group-text">vnđ</span>
                    </div>

                    <div class="d-flex flex-wrap mb-2 mt-2">
                      <h5 class="text-body-highlight me-2">Số lượng tồn</h5>
                    </div>
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="0"
                        formControlName="quantity"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<footer class="footer position-absolute"></footer>
