<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" 
	  internalLogFile="${basedir}\LogInternal\PCS.API_LogInternal.txt">

	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="fileTarget"
				xsi:type="File"
				encoding="utf-8"
				fileName="${basedir}\Log\PCS.API_Log_${date:format=yyyyMMdd}.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveFileName="${basedir}/SaveLog/Log_{#}.log"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="7"
				layout="-- ${longdate} ${level:uppercase=true}[${callsite-linenumber}] | ${callsite}. ${newline}
				 MSG_CONTENT:${message}${newline}
				 EXXCEPTION: ${exception:format=Type} | MESSAGE:${exception:format=Message}" />
	</targets>

	<rules>
		<!-- local file logger -->
		<!--Log Level:
		Trace: 0
		Debug : 1
		Info: 2
		Warn: 3
		Error: 4
		Critical: 5
		Off: 6-->
		<logger minlevel="Info" name="*" writeTo="fileTarget"/>
	</rules>
</nlog>