<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Quản lý bán hàng</a></li>
    <li class="breadcrumb-item"><a href="#!">Tạo hóa đơn bán hàng</a></li>
    <!-- <li class="breadcrumb-item active">Mặc định</li> -->
  </ol>
</nav>
<form
  class="mb-9"
  [formGroup]="trxTransactionForm"
  enctype="multipart/form-data"
  (submit)="onSubmit()"
>
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">Tạo hóa đơn bán hàng</h2>
    </div>
    <div class="col-auto">
      <a
        class="btn btn-primary mb-2 mb-sm-0 me-8"
        routerLink="/admin/list_order"
      >
        Quay lại
      </a>
      <button
        class="btn btn-primary mb-2 mb-sm-0 me-8"
        type="submit"
        [disabled]="trxTransactionForm.invalid"
      >
        Tạo đơn hàng
      </button>
    </div>
  </div>

  <div class="row g-5">
    <!-- Thông tin sản phẩm -->
    <div class="col-12 col-xl-7">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title">Thông tin đơn hàng</h4>
              <h4 class="card-title text-danger mt-1">{{ strMessage }}</h4>

              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class=""></div>
                  <div class="table-responsive-x scrollbar-overlay mx-n1 px-1">
                    <table class="table table-sm fs-9 mb-0">
                      <thead>
                        <tr>
                          <th
                            class="sort align-middle pe-5 text-start pb-3 pt-3"
                            scope="col"
                            style="width: 40%"
                            nowrap
                          >
                            Sản phẩm <span class="text-danger">*</span>
                          </th>
                          <th
                            class="sort align-middle pe-5 text-center pb-3 pt-3"
                            scope="col"
                            style="width: 8%"
                            nowrap
                          >
                            Số lượng <span class="text-danger">*</span>
                          </th>
                          <th
                            class="sort align-middle pe-5 text-start pb-3 pt-3"
                            scope="col"
                            style="width: 15%"
                            nowrap
                          >
                            Đơn giá <span class="text-danger">*</span>
                          </th>

                          <th
                            class="sort align-middle pe-5 text-start pb-3 pt-3"
                            scope="col"
                            style="width: 25%"
                            nowrap
                          >
                            Thành tiền
                          </th>
                          <th
                            class="sort align-middle pe-5 text-center pb-3 pt-3"
                            scope="col"
                            style="width: 5%"
                            nowrap
                          ></th>
                        </tr>
                      </thead>
                      <tbody formArrayName="carts">
                        <tr
                          *ngFor="
                            let receiptDetails of carts.controls;
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <!-- productId -->
                          <td class="pt-2 pb-2">
                            <ng-select
                              appendTo="body"
                              [items]="products"
                              bindLabel="productName"
                              bindValue="id"
                              formControlName="productId"
                              (change)="onProductSelection($event, i)"
                            >
                              <ng-template ng-option-tmp let-item="item">
                                <div class="container">
                                  <div class="d-flex">
                                    <div>
                                      <img
                                        *ngIf="item.image"
                                        [src]="item.image"
                                        alt="Product Image"
                                        class="img-fluid"
                                        style="
                                          max-width: 50px;
                                          max-height: 50px;
                                        "
                                      />
                                    </div>

                                    <span
                                      class="ms-2 text-start align-self-center text-truncate"
                                    >
                                      {{ item.productName }}
                                    </span>

                                    <span
                                      class="ms-2 text-end align-self-center"
                                    >
                                      {{ item.quantity }}
                                    </span>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-select>
                          </td>
                          <!-- total -->
                          <td class="pt-2 pb-2">
                            <input
                              class="form-control"
                              type="number"
                              [value]="0"
                              min="1"
                              max="1000"
                              formControlName="quantity"
                              required
                              (change)="onSelectQuantity(receiptDetails,i)"
                              (keypress)="Utils.handleKeyPressNguyen($event)"
                            />
                            <!-- (keydown)="onKeyDown($event, false)" -->

                            <div
                              class="label-error mt-1 text-danger"
                              *ngIf="receiptDetails.get('quantity')?.dirty"
                            >
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('quantity')
                                    ?.hasError('required')
                                "
                              >
                                <small>Số lượng là bắt buộc.</small>
                              </span>
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('quantity')
                                    ?.hasError('max') ||
                                  receiptDetails
                                    .get('quantity')
                                    ?.hasError('min')
                                "
                              >
                                <small>Số lượng phải từ 1 đến 1000.</small>
                              </span>
                            </div>
                          </td>
                          <!-- price -->
                          <td class="pt-2 pb-2">
                            <input
                              class="form-control"
                              type="text"
                              [value]="
                                receiptDetails.get('price')?.value
                                  | number : '1.0-0'
                              "
                              readonly
                            />
                            <!-- [value]="
                                receiptDetails.get('price')?.value
                                  | number : '1.0-0'
                              " -->
                            <!-- 
                              (keydown)="onKeyDown($event, true)" -->

                            <div
                              class="label-error mt-1 text-danger"
                              *ngIf="receiptDetails.get('price')?.dirty"
                            >
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('price')
                                    ?.hasError('required')
                                "
                              >
                                <small>Đơn giá là bắt buộc.</small>
                              </span>
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('price')
                                    ?.hasError('max') ||
                                  receiptDetails.get('price')?.hasError('min')
                                "
                              >
                                <small>Đơn giá phải từ 0 đến 1 tỷ.</small>
                              </span>
                            </div>
                          </td>

                          <td class="pt-2 pb-2">
                            <div class="form-control text-end">
                              {{ getTotalPrice()[i] | currencyFormat }}
                            </div>
                          </td>
                          <td class="pt-2 pb-2">
                            <button
                              class="fw-bold fs-9 btn btn-phoenix-primary"
                              href="javascript:void(0);"
                              [disabled]="isDisplayNone"
                              (click)="removeProduct(i)"
                              type="button"
                            >
                              Xóa
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="align-middle white-space-nowrap pe-5 text-end fw-bold pb-3 pt-3"
                          >
                            <p class="mb-0 text-truncate fs-8 text-start">
                              Tổng tiền:
                            </p>
                          </td>
                          <td></td>
                          <td></td>
                          <td
                            class="align-middle white-space-nowrap pe-1 text-end fw-bold text-success pb-3 pt-3"
                            style="width: 10%"
                          >
                            <p class="mb-0 text-truncate fs-8 pe-3">
                              {{ totalMoney | currencyFormat }}
                              tiền
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button
                    class="btn btn-phoenix-primary w-100 mt-3"
                    type="button"
                    (click)="addProduct()"
                  >
                    Thêm sản phẩm
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-5 white-space-nowrap pe-5 fw-bold pb-3 pt-3">
                  Phương thức thanh toán<span class="text-danger">*</span>
                </div>

                <div class="col-7 pe-5 pb-3 pt-3">
                  <ng-select
                    style="height: 16px"
                    [items]="paymentTypes"
                    bindValue="name"
                    bindLabel="value"
                    placeholder="Chọn phương thức thanh toán"
                    formControlName="paymentTypes"
                    (change)="onChangePaymentTypes($event)"
                  ></ng-select>
                  <small
                    class="text-danger mt-1"
                    *ngIf="trxTransactionForm['controls']['paymentTypes'].dirty"
                  >
                    <span
                      *ngIf="trxTransactionForm['controls']['paymentTypes'].errors?.['required']"
                    >
                      Phương thức thanh toán không được để trống
                    </span>
                  </small>
                </div>
              </div>

              <div class="row" *ngIf="statusShip">
                <div class="col-5 white-space-nowrap pe-5 fw-bold pb-3 pt-3">
                  Đơn vị vận chuyển<span class="text-danger">*</span>
                </div>

                <div class="col-7 pe-5 pb-3 pt-3">
                  <ng-select
                    appendTo="body"
                    bindLabel="carrierName"
                    bindValue="id"
                    [items]="shipData"
                    formControlName="shipData"
                    (change)="onGoShip($event)"
                  >
                    <!--  (change)="onProductSelection($event, i)" -->
                    <ng-template ng-option-tmp let-item="item">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-2">
                            <img
                              *ngIf="item.carrierLogo"
                              [src]="item.carrierLogo"
                              alt="Product Image"
                              class="img-fluid"
                              style="max-width: 50px; max-height: 50px"
                            />
                          </div>
                          <div class="col-md-7 text-start">
                            <p>{{ item.carrierName }} ({{ item.service }})</p>
                            <p>
                              {{ item.expected }}
                            </p>
                          </div>
                          <div class="col-md-3 text-start">
                            <p>
                              {{ item.totalAmount | number : "1.0-0" }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-5 white-space-nowrap pe-5 fw-bold pb-3 pt-3">
                  Trạng thái đơn hàng<span class="text-danger">*</span>
                </div> 

             <div class="col-7 pe-5 pb-3 pt-3">
                  <ng-select
                    style="height: 16px"
                    [items]="Utils.statusOrder"
                    bindValue="name"
                    bindLabel="value"
                    placeholder="Chọn Trạng thái đơn hàng"
                    formControlName="orderStatus"
                  ></ng-select>
                  <small
                    class="text-danger mt-1"
                    *ngIf="trxTransactionForm['controls']['orderStatus'].dirty"
                  >
                    <span
                      *ngIf="trxTransactionForm['controls']['orderStatus'].errors?.['required']"
                    >
                      Trạng thái đơn hàng không được để trống
                    </span>
                  </small>
                </div> 
               </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- thông tin khách hàng -->
    <div class="col-12 col-xl-5">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title mb-4">Thông tin khách hàng</h4>
              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-2">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">
                        Khách hàng <sup class="text-danger">*</sup>
                      </h5>
                      <a class="fw-bold fs-9" href="/admin/categories"
                        >Thêm mới khách hàng</a
                      >
                    </div>
                    <ng-select
                      [formControl]="getCustomer()"
                      placeholder="Chọn khách hàng"
                      formControlName="customerId"
                    >
                      <ng-option
                        *ngFor="let customer of customers"
                        [value]="customer.userId"
                      >
                        {{ customer.fullName + " - " + customer.phoneNumber }}
                      </ng-option>
                    </ng-select>
                    <!-- <small
                      class="text-danger mt-1"
                      *ngIf="
                        trxTransactionForm.get('customerId')?.invalid &&
                        (trxTransactionForm.get('customerId')?.dirty ||
                          trxTransactionForm.get('customerId')?.touched)
                      "
                    >
                      <span
                        *ngIf="trxTransactionForm.get('customerId')?.errors?.['required']"
                      >
                        Tên người mua
                      </span>
                    </small> -->
                  </div>
                </div>
                <div
                  class="border-dashed border-bottom border-translucent mt-4"
                  *ngIf="customer !== undefined"
                >
                  <div class="d-flex justify-content-between mb-2">
                    <h5 class="text-body fw-semibold">
                      {{ customer.fullName }}
                    </h5>
                    <h5 class="text-body fw-semibold">
                      <span class="fas fa-times"></span>
                    </h5>
                  </div>
                  <!-- <div class="d-flex justify-content-between mb-2">
                    <h5 class="text-body fw-semibold">Tổng chi tiêu</h5>
                    <h5 class="text-body fw-semibold">Số tiền</h5>
                  </div> -->
                  <hr class="bg-body-secondary mb-2 mt-2" />

                  <div class="d-flex justify-content-between mb-2">
                    <h5 class="text-body fw-semibold">Thông tin liên hệ:</h5>
                    <!-- <h5 class="text-body fw-semibold">
                      <button
                        class="far fa-edit"
                        type="button"
                        aria-label="Close"
                      ></button>
                    </h5> -->
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-body fw-semibold mt-2">Số điện thoại:</h5>
                    <h5 class="text-body fw-semibold">
                      <input
                        class="form-control"
                        type="number"
                        placeholder="Số điện thoại"
                        [value]="customer.phoneNumber"
                      />
                    </h5>
                  </div>
                  <hr class="bg-body-secondary mb-2 mt-2" />
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-body fw-semibold">Địa chỉ giao hàng</h5>
                    <!-- <h5 class="text-body fw-semibold">
                      <button
                        class="far fa-edit"
                        type="button"
                        aria-label="Close"
                      ></button>
                    </h5> -->
                  </div>
                  <div class="mb-3">
                    <!-- <textarea
                      class="form-control"
                      type="text"
                      placeholder="Không có địa chỉ"
                      [value]="customer.address"
                      formControlName="address"
                    ></textarea> -->

                    <div style="position: relative">
                      <textarea
                        class="form-control"
                        id="address"
                        [value]="customer.address"
                        formControlName="address"
                        placeholder="Địa chỉ giao hàng"
                        readonly
                        style="padding-right: 30px"
                      ></textarea>
                      <!-- Biểu tượng trong thẻ nhập -->

                      <button
                        data-bs-target="#modalAddress"
                        data-bs-toggle="modal"
                        type="button"
                        style="
                          position: absolute;
                          right: 10px;
                          top: 50%;
                          transform: translateY(-50%);
                        "
                      >
                        <i class="fa-regular fa-pen-to-square"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-12">
          <div class="card" style="height: 220px">
            <div class="card-body">
              <h4 class="card-title mb-4">Ghi chú</h4>
              <div class="row g-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-2">
                    <textarea
                      class="form-control"
                      placeholder="VD: Giao hàng trong giờ hành chính cho khách"
                      formControlName="notes"
                      style="height: 100px"
                    >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<footer class="footer position-absolute"></footer>
<div class="modal fade" id="modalAddress" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddressLabel">
          Thông tin địa chỉ nhận hàng
        </h5>
        <button
          class="btn p-1"
          data-bs-dismiss="modal"
          aria-label="Close"
          #btnCloseModal
        >
          <span class="fas fa-times fs-9"></span>
        </button>
      </div>
      <form class="form" [formGroup]="addressForm" (ngSubmit)="onAddress()">
        <!-- [formGroup]="categoryForm" (submit)="onSubmit()" -->
        <div class="modal-body">
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="parentID"
              >Tỉnh/Thành phố<sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <ng-select placeholder="Tỉnh/Thành phố" formControlName="city">
                <ng-option *ngFor="let city of Utils.city" [value]="city.id">
                  {{ city.name }}
                </ng-option>
              </ng-select>
              <div
                class="label-error mt-1"
                *ngIf="addressForm['controls']['city'].dirty"
              >
                <div
                  *ngIf="addressForm.get('city')?.hasError('required')"
                  class="text-danger"
                >
                  <small>Trường bắt buộc.</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="categoryLevel"
              >Quận/Huyện<sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <ng-select placeholder="Quận/Huyện" formControlName="district">
                <ng-option
                  *ngFor="let district of districts"
                  [value]="district.id"
                >
                  {{ district.name }}
                </ng-option>
              </ng-select>
              <div
                class="label-error mt-1"
                *ngIf="addressForm['controls']['district'].dirty"
              >
                <span
                  *ngIf="addressForm['controls']['district'].errors?.['required']"
                >
                  <small class="text-danger">Trường bắt buộc.</small>
                </span>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="categoryName"
              >Phường/Xã/Thị trấn <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <ng-select
                placeholder="Phường/Xã/Thị trấn"
                formControlName="ward"
              >
                <ng-option *ngFor="let ward of wards" [value]="ward.id">
                  {{ ward.name }}
                </ng-option>
              </ng-select>
              <div
                class="label-error mt-1"
                *ngIf="addressForm['controls']['ward'].dirty"
              >
                <span
                  *ngIf="addressForm['controls']['ward'].errors?.['required']"
                >
                  <small class="text-danger">Trường bắt buộc.</small>
                </span>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label fs-9" for="categoryName"
              >Số nhà, Tên đường <sup class="text-danger">*</sup></label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                id="address"
                type="text"
                placeholder="Số nhà, Tên đường"
                formControlName="addressDetail"
              />
              <div
                class="label-error mt-1 text-danger"
                *ngIf="addressForm['controls']['addressDetail'].dirty"
              >
                <span
                  *ngIf="addressForm['controls']['addressDetail'].errors?.['required']"
                >
                  <small>Trường bắt buộc.</small>
                </span>
                <span
                  *ngIf="addressForm['controls']['addressDetail'].errors?.['maxlength']"
                >
                  <small>Tối đa 100 ký tự.</small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="addressForm.invalid"
          >
            <span>Lưu</span>
          </button>

          <button
            class="btn btn-outline-primary"
            type="button"
            data-bs-dismiss="modal"
          >
            Quay lại
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
