<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Trang 1</a></li>
    <li class="breadcrumb-item"><a href="#!">Trang 2</a></li>
    <li class="breadcrumb-item active">Mặc định</li>
  </ol>
</nav>
<form
  class="mb-9"
  [formGroup]="productForm"
  enctype="multipart/form-data"
  (submit)="onSubmit()"
>
  <div class="row g-3 flex-between-end mb-5">
    <div class="col-auto">
      <h2 class="mb-2">Thêm một sản phẩm</h2>
      <h5 class="text-body-tertiary fw-semibold">
        Đơn đặt hàng được đặt trên cửa hàng của bạn
      </h5>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary mb-2 mb-sm-0 me-8" type="submit">
        Thêm
      </button>
    </div>
  </div>

  <div class="row g-5">
    <!-- Thông tin sản phẩm -->
    <div class="col-12 col-xl-9">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title mb-4">Thông tin đơn hàng</h4>
              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-4">
                    <div class="d-flex flex-wrap mb-2">
                      <a class="fw-bold fs-9" href="/admin/categories"
                        >Thêm mới sản phẩm</a
                      >
                    </div>
                  </div>
                  <div class="table-responsive-x scrollbar-overlay mx-n1 px-1">
                    <table class="table table-sm fs-9 mb-0">
                      <thead>
                        <tr>
                          <th
                            class="sort align-middle pe-5 text-start pb-3 pt-3"
                            scope="col"
                            style="width: 40%"
                            nowrap
                          >
                            Sản phẩm <span class="text-danger">*</span>
                          </th>
                          <th
                            class="sort align-middle pe-5 text-center pb-3 pt-3"
                            scope="col"
                            style="width: 8%"
                            nowrap
                          >
                            Số lượng <span class="text-danger">*</span>
                          </th>
                          <th
                            class="sort align-middle pe-5 text-start pb-3 pt-3"
                            scope="col"
                            style="width: 15%"
                            nowrap
                          >
                            Đơn giá <span class="text-danger">*</span>
                          </th>

                          <th
                            class="sort align-middle pe-5 text-start pb-3 pt-3"
                            scope="col"
                            style="width: 25%"
                            nowrap
                          >
                            Thành tiền
                          </th>
                          <th
                            class="sort align-middle pe-5 text-center pb-3 pt-3"
                            scope="col"
                            style="width: 5%"
                            nowrap
                          ></th>
                        </tr>
                      </thead>
                      <tbody formArrayName="inventoryReceiptDetails">
                        <tr
                          *ngFor="
                            let receiptDetails of inventoryReceiptDetails.controls;
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <!-- productId -->
                          <td class="pt-2 pb-2">
                            <ng-select
                              appendTo="body"
                              [items]="products"
                              bindLabel="productName"
                              bindValue="id"
                              formControlName="productId"
                              (change)="onProductSelection($event, i)"
                            >
                              <ng-template ng-option-tmp let-item="item">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-2">
                                      <img
                                        *ngIf="item.image"
                                        [src]="item.image"
                                        alt="Product Image"
                                        class="img-fluid"
                                        style="
                                          max-width: 50px;
                                          max-height: 50px;
                                        "
                                      />
                                    </div>
                                    <div class="col-md-10 text-start">
                                      <p>{{ item.productName }}</p>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-select>
                          </td>
                          <!-- total -->
                          <td class="pt-2 pb-2">
                            <input
                              class="form-control"
                              type="number"
                              [value]="0"
                              min="1"
                              max="1000"
                              formControlName="total"
                              required
                            />
                            <!-- (keydown)="onKeyDown($event, false)" -->

                            <div
                              class="label-error mt-1"
                              *ngIf="receiptDetails.get('total')?.dirty"
                            >
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('total')
                                    ?.hasError('required')
                                "
                              >
                                <small>Số lượng là trường bắt buộc.</small>
                              </span>
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('total')
                                    ?.hasError('max') ||
                                  receiptDetails.get('total')?.hasError('min')
                                "
                              >
                                <small>Số lượng phải từ 1 đến 1000.</small>
                              </span>
                            </div>
                          </td>
                          <!-- price -->
                          <td class="pt-2 pb-2">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="price"
                              readonly
                            />
                            <!-- 
                              (keydown)="onKeyDown($event, true)" -->

                            <div
                              class="label-error mt-1"
                              *ngIf="receiptDetails.get('price')?.dirty"
                            >
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('price')
                                    ?.hasError('required')
                                "
                              >
                                <small>Đơn giá là trường bắt buộc.</small>
                              </span>
                              <span
                                *ngIf="
                                  receiptDetails
                                    .get('price')
                                    ?.hasError('max') ||
                                  receiptDetails.get('price')?.hasError('min')
                                "
                              >
                                <small>Đơn giá phải từ 0 đến 1 tỷ.</small>
                              </span>
                            </div>
                          </td>

                          <td class="pt-2 pb-2">
                            <div class="form-control text-end">
                              {{ getTotalPrice()[i] | currencyFormat }}
                            </div>
                          </td>
                          <td class="pt-2 pb-2">
                            <button
                              class="fw-bold fs-9 btn btn-phoenix-primary"
                              href="javascript:void(0);"
                              [disabled]="isDisplayNone"
                              (click)="removeProduct(i)"
                            >
                              Xóa
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="align-middle white-space-nowrap pe-5 text-end fw-bold pb-3 pt-3"
                          >
                            <p class="mb-0 text-truncate fs-8 text-start">
                              Tổng tiền:
                            </p>
                          </td>
                          <td></td>
                          <td></td>
                          <td
                            class="align-middle white-space-nowrap pe-1 text-end fw-bold text-success pb-3 pt-3"
                            style="width: 10%"
                          >
                            <p class="mb-0 text-truncate fs-8 pe-3">
                              {{ totalMoney | currencyFormat }}
                              tiền
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button
                    class="btn btn-phoenix-primary w-100 mt-3"
                    type="button"
                    (click)="addProduct()"
                  >
                    Thêm sản phẩm
                  </button>
                </div>
              </div>

              <ng-select
                style="height: 16px; width: 400px"
                [items]="Utils.paymentTypes"
                bindValue="paymentTypes"
                bindLabel="name"
                placeholder="Chọn phương thức thanh toán"
                formControlName="paymentTypes"
              ></ng-select>
              <!-- <small
                class="text-danger mt-1"
              >
                *ngIf="trxTransacForm['controls']['paymentTypes'].dirty"

                <span
                  *ngIf="trxTransacForm['controls']['paymentTypes'].errors?.['required']"
                >
                  Phương thức thanh toán không được để trống
                </span>
              </small> -->
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Thông tin sản phẩm chi tiết</h4>
              <div class="row g-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div
                    class="border-bottom viền-đường viền mờ-đường viền nét đứt-sm-0 border-bottom-xl pb-4"
                  >
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="text-body-highlight me-2">
                        Giá <sup class="text-danger"></sup>
                      </h5>
                    </div>

                    <div class="input-group">
                      <input
                        class="form-control"
                        type="number"
                        placeholder="0"
                        formControlName="price"
                      />

                      <span class="input-group-text">vnđ</span>
                    </div>

                    <div class="d-flex flex-wrap mb-2 mt-2">
                      <h5 class="text-body-highlight me-2">Số lượng tồn</h5>
                    </div>
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="0"
                        formControlName="quantity"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- thông tin khách hàng -->
    <div class="col-12 col-xl-3">
      <div class="row g-2">
        <div class="col-12 col-xl-12">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="card-title mb-4">Thông tin khách hàng</h4>
              <div class="row gx-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-2">
                    <div class="d-flex flex-wrap mb-2">
                      <h5 class="mb-0 text-body-highlight me-2">
                        Loại <sup class="text-danger">*</sup>
                      </h5>
                      <a class="fw-bold fs-9" href="/admin/categories"
                        >Thêm danh mục mới</a
                      >
                    </div>
                    <ng-select
                      formControlName="userId"
                      placeholder="Chọn danh mục"
                      [formControl]="getDistrictsControl()"
                    >
                      <ng-option
                        *ngFor="let category of customers"
                        [value]="category.id"
                      >
                        {{ category.fullName + " - " + category.phoneNumber }}
                      </ng-option>
                    </ng-select>
                    <small
                      class="text-danger mt-1"
                      *ngIf="
                        productForm.get('userId')?.invalid &&
                        (productForm.get('userId')?.dirty ||
                          productForm.get('userId')?.touched)
                      "
                    >
                      <span
                        *ngIf="productForm.get('userId')?.errors?.['required']"
                      >
                        Tên người mua
                      </span>
                    </small>
                  </div>
                </div>
                <div
                  class="border-dashed border-bottom border-translucent mt-4"
                  *ngIf="customer !== undefined"
                >
                  <div class="d-flex justify-content-between mb-2">
                    <h5 class="text-body fw-semibold">
                      {{ customer.fullName }}
                    </h5>
                    <h5 class="text-body fw-semibold">
                      <span class="fas fa-times"></span>
                    </h5>
                  </div>
                  <!-- <div class="d-flex justify-content-between mb-2">
                    <h5 class="text-body fw-semibold">Tổng chi tiêu</h5>
                    <h5 class="text-body fw-semibold">Số tiền</h5>
                  </div> -->
                  <hr class="bg-body-secondary mb-2 mt-2" />

                  <div class="d-flex justify-content-between mb-2">
                    <h5 class="text-body fw-semibold">Thông tin liên hệ:</h5>
                    <!-- <h5 class="text-body fw-semibold">
                      <button
                        class="far fa-edit"
                        type="button"
                        aria-label="Close"
                      ></button>
                    </h5> -->
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-body fw-semibold">
                      {{ customer.userId }}
                    </h5>
                    <h5 class="text-body fw-semibold">Số điện thoại</h5>
                  </div>
                  <hr class="bg-body-secondary mb-2 mt-2" />
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-body fw-semibold">Địa chỉ giao hàng</h5>
                    <!-- <h5 class="text-body fw-semibold">
                      <button
                        class="far fa-edit"
                        type="button"
                        aria-label="Close"
                      ></button>
                    </h5> -->
                  </div>
                  <div class="input-group mb-3">
                    <textarea
                      class="form-control"
                      type="text"
                      placeholder="Không có địa chỉ"
                      [value]="customer.address"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Ghi chú</h4>
              <div class="row g-3">
                <div class="col-12 col-sm-6 col-xl-12">
                  <div class="mb-2">
                    <textarea
                      class="form-control"
                      placeholder="VD: Giao hàng trong giờ hành chính cho khách"
                      formControlName="notes"
                      style="height: 100px"
                    >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<footer class="footer position-absolute"></footer>
